@charset "UTF-8";

.chart * {line-height:16px;}
.chart #content {position:relative;float:left;width:794px;padding:10px 0 70px 21px;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_content.gif') no-repeat;}
.chart h2 {height:40px;text-indent:-1000em;background:#FFF url('http://file.bugsm.co.kr/nbugs/chart/lnb_chartV20141014.gif') no-repeat;}
.chart h3 {height:40px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/h3_titleV20141014.gif') no-repeat;}
.chart.chartTop100 h3 {background-position:0 0;}
.chart.chartAlbum h3 {background-position:0 -50px;}
.chart.chartMV h3 {background-position:0 -100px;}
.chart.chartCast h3 {margin:0 0 20px;background-position:0 -150px;}
.chart.chartHistory h3 {background-position:0 -200px;}
/* 
.chart.chartMusic h3 {background-position:0 -50px;}
.chart.chartArtist h3 {background-position:0 -100px;}
.chart.highestTop100 h3 {background-position:0 -400px;}
 */
.chart .lnbWrap {float:left;width:149px;padding:8px 0 70px;}
.chart .lnb {width:100%;}
.chart .lnb li {overflow:hidden;width:100%;background-image:url('http://file.bugsm.co.kr/nbugs/chart/lnb_chartV20141014.gif');background-repeat:no-repeat;}
.chart .lnb li a {display:block;height:31px;width:100%;text-indent:-1000em;}
.chart .lnb .mnTop100 {background-position:0 -40px;}
.chart.chartTop100 .lnb .mnTop100 {background-position:-200px -40px;}
.chart .lnb .mnAlbum {background-position:0 -71px;}
.chart.chartAlbum .lnb .mnAlbum {background-position:-200px -71px;}
.chart .lnb .mnMV {background-position:0 -102px;}
.chart.chartMV .lnb .mnMV {background-position:-200px -102px;}
.chart .lnb .mnCast {background-position:0 -133px;}
.chart.chartCast .lnb .mnCast {background-position:-200px -133px;}
.chart .lnb .mnHistory {background-position:0 -164px;}
.chart.chartHistory .lnb .mnHistory {background-position:-200px -164px;}
/* 
.chart .lnb .mnTop100Highest {background-position:0 -71px;}
.chart.highestTop100 .lnb .mnTop100Highest {background-position:-200px -71px;}
.chart .lnb .mnArtist {background-position:0 -133px;}
.chart.chartArtist .lnb .mnArtist {background-position:-200px -133px;}
 */
.chart .lnbBanner {width:134px;}
.chart .lnbBanner a {display:block;border-bottom:1px solid #e0e0e0;}

/* tab */
.chart .tabChart {height:35px;width:100%;margin-bottom:20px;background:url('http://file.bugsm.co.kr/nbugs/chart/tab_chartV20141014.gif') no-repeat 0 0;}
.chart .tabChart li {float:left;width:114px;background:url('http://file.bugsm.co.kr/nbugs/chart/tab_chartV20141014.gif') no-repeat;}
.chart .tabChart a {display:block;overflow:hidden;height:35px;width:100%;text-indent:-1000em;}
.chart .tabChart a.on {background:url('http://file.bugsm.co.kr/nbugs/chart/tab_chartV20141014.gif') no-repeat;}
.chart .tabChart .total {background-position:0 -50px;}
.chart .tabChart .total .on {background-position:0 -100px;}
.chart .tabChart .kpop {background-position:-120px -50px;}
.chart .tabChart .kpop .on {background-position:-120px -100px;}
.chart .tabChart .pop {width:116px;background-position:-240px -50px;}
.chart .tabChart .pop .on {background-position:-240px -100px;}
/* 
.chartTop100 .tabChart .time {background-position:0 -50px;}
.chartTop100 .tabChart .realtime {background-position:-120px -50px;}
.chartTop100 .tabChart .week {width:116px;background-position:-240px -50px;}
.chartTop100 .tabChart .time .on {background-position:0 -100px;}
.chartTop100 .tabChart .realtime .on {background-position:-120px -100px;}
.chartTop100 .tabChart .week .on {background-position:-240px -100px;}

.highestTop100 .tabChart .kpop {background-position:0 -150px;}
.highestTop100 .tabChart .pop {width:116px;background-position:-120px -150px;}
.highestTop100 .tabChart .kpop .on {background-position:0 -200px;}
.highestTop100 .tabChart .pop .on {width:116px;background-position:-120px -200px;}

.chartMusic .tabChart {margin-bottom:0;}
.chartMusic .tabChart .kpop {background-position:0 -250px;}
.chartMusic .tabChart .pop {background-position:-120px -250px;}
.chartMusic .tabChart .ost {background-position:-240px -250px;}
.chartMusic .tabChart .jpop {background-position:-360px -250px;}
.chartMusic .tabChart .other {width:116px;background-position:-480px -250px;}
.chartMusic .tabChart .kpop .on {background-position:0 -300px;}
.chartMusic .tabChart .pop .on {background-position:-120px -300px;}
.chartMusic .tabChart .ost .on {background-position:-240px -300px;}
.chartMusic .tabChart .jpop .on {background-position:-360px -300px;}
.chartMusic .tabChart .other .on {background-position:-480px -300px;}

.chartMV .tabChart li {width:132px;}
.chartMV .tabChart .all {width:133px;background-position:0 -350px;}
.chartMV .tabChart .kpop {background-position:-140px -350px;}
.chartMV .tabChart .pop {background-position:-280px -350px;}
.chartMV .tabChart .ost {background-position:-420px -350px;}
.chartMV .tabChart .jpop {background-position:-560px -350px;}
.chartMV .tabChart .fullHD {width:133px;background-position:-700px -350px;}
.chartMV .tabChart .all .on {background-position:0 -400px;}
.chartMV .tabChart .kpop .on {background-position:-140px -400px;}
.chartMV .tabChart .pop .on {background-position:-280px -400px;}
.chartMV .tabChart .ost .on {background-position:-420px -400px;}
.chartMV .tabChart .jpop .on {background-position:-560px -400px;}
.chartMV .tabChart .fullHD .on {background-position:-700px -400px;}
 */

.chart .oneclickAction {margin:0 0 10px;}
.chart .oneclickAction .check {margin-left:3px;}
.chart .oneclickAction .check .checkbox {height:13px;width:13px;padding:2px;background-position:2px -198px;}
.chart .oneclickAction .check.click .checkbox {background-position:2px -238px;}
.chart .oneclickAction .btnOneclickAction {margin-left:10px;}
.chart .track {position:relative;}

/* chartTop100 */
.chartTop100 .criterion dt {width:90px;}
.chartTop100 .layerGuideTip {width:197px;}
.chartTop100 .share {position:absolute;right:6px;top:5px;z-index:10;}
.chartTop100 .share dt {display:block;float:left;height:24px;}
.chartTop100 .share dt span {font-size:11px;color:#54575a;letter-spacing:-1px;line-height:24px;}
.chartTop100 .share dt span span {display:inline-block;margin:0 1px 0 4px;font-size:14px;color:#d9d9d9;vertical-align:middle;}
.chartTop100 .term .date {padding-left:0;}

.chartTop100 .chartList .rankTop3 .check .checkbox {background-position:2px -278px;}
.chartTop100 .chartList .rankTop3 .ranking .updown.up {color:#FFF;background-position:1px -184px;}
.chartTop100 .chartList .rankTop3 .ranking .updown.down {color:#FFF;background-position:1px -224px;}
.chartTop100 .chartList .rankTop3 .ranking strong.num2 {background-position:0 -50px;}
.chartTop100 .chartList .rankTop3 .ranking strong.num3 {background-position:0 -100px;}
.chartTop100 .chartList .rankTop3 .check.click .checkbox {background-position:2px -238px;}
.chartTop100 .chartList .rankTop3 .ranking {border-right:0 none;background:url('http://file.bugsm.co.kr/nbugs/chart/bg_list.gif') no-repeat 0 -200px;}
.chartTop100 .chartList .rankTop10 .ranking {border-right:0 none;background:url('http://file.bugsm.co.kr/nbugs/chart/bg_list.gif') no-repeat 0 -300px;}

.chartTop100 .chartTrackList .rankTop10,
.chartTop100 .chartTrackList .rankTop10 .ranking {height:72px;}
.chartTop100 .chartTrackList .rankTop3 .ranking .updown.new {background-position:0 -1885px;}
.chartTop100 .chartTrackList .rankTop3 .ranking .updown.hot {background-position:0 -1925px;}
.chartTop100 .chartTrackList .rankTop3 .ranking .updown.re {background-position:0 -1965px;}

/* chartMusic */
.chartMusic .criterion dt {background-position:0 0;}

.chart .tabOption {overflow:hidden;width:100%;padding:12px 0 11px;margin-bottom:20px;border-bottom:1px solid #ececec;}
.chart .tabOption dl {float:left;overflow:hidden;height:24px;}
.chart .tabOption dt {float:left;height:24px;width:60px;background:url('http://file.bugsm.co.kr/nbugs/chart/i_chart.gif') no-repeat 7px -45px;}
.chart .tabOption dt span {position:absolute;top:0;left:0;visibility:hidden;overflow:hidden;height:0;width:0;font-size:0;line-height:0;}
.chart .tabOption dd {float:left;padding:5px 0 0;font-size:11px;color:#54575a;letter-spacing:-1px;}
.chart .tabOption dd.first {margin:0 20px 0 0;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 100% -601px;}
.chart .tabOption dd.selected {color:#1d1d1e;}
.chart .tabOption dd label {padding:0 7px 0 0;}
.chart .tabOption dd .dim {cursor:default;color:#8c8b8b;}
.chart .tabOption .btnResult {float:left;}
.chart .tabOption .btnResult button {display:block;overflow:hidden;height:24px;width:53px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/i_chart.gif') no-repeat -100px -50px;}

.chartMusic .subTab {overflow:hidden;height:30px;width:auto;padding:8px 0 6px 145px;margin-bottom:20px;border-bottom:1px solid #ececec;}
.chartMusic .subTab li {float:left;padding:0 16px 0 18px;letter-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 100% -601px;}
.chartMusic .subTab li a {line-height:33px;}
.chartMusic .subTab li.on a {font-weight:bold;color:#ed7100;}
.chartMusic .subTab li.last {background-image:none;}

/* chartArtist */
.chartArtist .criterion dt {background-position:0 -40px;}
.chartArtist .tabOption dl {margin:0 0 0 20px;}
.chartArtist .tabOption dd.first {margin:0 20px 0 0;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 100% -601px;}
.chartArtist .term {margin:0 0 13px;}
.chartArtist .term .date {padding-left:0;}
.chartArtist .artistList li,
.chartArtist .artistList li .ranking {height:134px;padding:0;border-bottom:0 none;}
.chartArtist .artistList .rankTop1,
.chartArtist .artistList .rankTop3 {background-position:100% -1300px;}
.chartArtist .artistList .rankTop3 .check.click .checkbox {background-position:2px -238px;}
.chartArtist .artistList .rankTop1 .ranking {background-position:0 -1450px;}
.chartArtist .artistList .rankTop3 .ranking {background-position:0 -1600px;}
.chartArtist .artistList .ranking strong {left:18px;top:54px;}
.chartArtist .artistList .rankTop1 .ranking .top {top:58px;}
.chartArtist .artistList .ranking .updown {top:44px;}
.chartArtist .artistList .btnAction {top:25px;}
.chartArtist .artistList .thumbnail {height:75px;width:75px;margin:15px 10px 0 0;text-align:center;}
.chartArtist .artistList .thumbnail img,
.chartArtist .artistList .thumbnail .thumbnailValign {line-height:75px;vertical-align:middle;}
.chartArtist .artistList dl {height:75px;width:608px;margin:15px 0 0;padding:0 0 0 4px;background:url('http://file.bugsm.co.kr/nbugs/common/lh_gr.gif') repeat-x 0 -25px;}
.chartArtist .artistList dt,
.chartArtist .artistList dd {width:400px;}
.chartArtist .artistList .reputation {position:absolute;right:29px;top:29px;}
.chartArtist .artistList .hitsong {position:absolute;right:0;bottom:0;overflow:hidden;height:43px;width:702px;}
.chartArtist .artistList .hitsong p {float:left;color:#666;letter-spacing:-1px;line-height:44px;}
.chartArtist .artistList .hitsong p a {color:#666;text-decoration:underline;}
.chartArtist .criterion li p span {display:inline-block;margin:0 0 0 93px;}
.chartArtist .btnMoreAction .bcTrackInfo a {width:39px;}
.chartArtist .btnMoreAction .bcTrackInfo span {width:39px;}

/* chartMV */
.chartMV .criterion dt {background-position:0 -80px;}
.chartMV .term .date {padding-left:0;}

/* chartAlbum */
.chartAlbum .date {padding:0;}

/* chartCast */
.chartCast h3 {border-bottom:1px solid #ececec;}

/* chartHistory */
.chartHistory .guinness {height:147px;width:792px;margin:0 0 20px;border:1px solid #ECECEC;}
.chartHistory .guinness ul {overflow:hidden;width:100%;}
.chartHistory .guinness li {float:left;height:108px;width:253px;margin:16px 0 0;padding:0 0 0 10px;border-left:1px solid #e0e0e0;}
.chartHistory .guinness li.first {border-left:0 none;}
.chartHistory .guinness dt {height:28px;}
.chartHistory .guinness dt a {padding:0 8px 0 0;font-weight:bold;text-decoration:underline;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -277px;}
.chartHistory .guinness dd {float:left;line-height:18px;}
.chartHistory .guinness dd.thumbnail img {height:75px;width:75px;}
.chartHistory .guinness dd.info {width:168px;margin:0 0 0 10px;}
.chartHistory .guinness dd.info a strong {color:#7c9400;}
.chartHistory .guinness dd.info a:hover strong {text-decoration:underline;}
.chartHistory .guinness .moreAll {padding:0 10px 0 0;text-align:right;}

.chartHistory .searchChart {margin:0 0 20px;}
.chartHistory .searchChart h4 {height:22px;width:100px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/h_title.gif') no-repeat 5px -160px;}
.chartHistory .searchChart fieldset  {overflow:hidden;width:794px;background:url('http://file.bugsm.co.kr/nbugs/chart/bg_selectChart.gif') no-repeat;}
.chartHistory .searchChart fieldset legend {display:none;}
.chartHistory .searchChart dl {float:left;height:193px;width:150px;}
.chartHistory .searchChart dt {height:40px;margin:0 0 20px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/i_chartHistory.gif') no-repeat;}
.chartHistory .searchChart dd {overflow:auto;height:124px;width:144px;}
.chartHistory .searchChart ul {margin:0 0 0 15px;}
.chartHistory .searchChart ul li {height:31px;padding-top:2px;color:#666;}
.chartHistory .searchChart input {vertical-align:middle;}
.chartHistory .searchChart label {white-space:nowrap;}
.chartHistory .searchChart .selectChart {width:160px;}
.chartHistory .searchChart .selectChart dd {overflow:hidden;width:auto;}
.chartHistory .searchChart .selectChart dt {background-position:0 0;}
.chartHistory .searchChart .selectGenre {width:190px;}
.chartHistory .searchChart .selectGenre dt.on {background-position:0 -50px;}
.chartHistory .searchChart .selectGenre dt.off {background-position:-91px -226px;}
.chartHistory .searchChart .selectGenre dd {width:187px;}
.chartHistory .searchChart .selectYear dt.on {background-position:0 -100px;}
.chartHistory .searchChart .selectYear dt.off {background-position:-97px -266px;}
.chartHistory .searchChart .selectMonth dt.on {background-position:0 -150px;}
.chartHistory .searchChart .selectMonth dt.off {background-position:-93px -306px;}
.chartHistory .searchChart .selectWeek {width:144px;}
.chartHistory .searchChart .selectWeek dt.on {background-position:0 -200px;}
.chartHistory .searchChart .selectWeek dt.off {background-position:-101px -346px;}
.chartHistory .searchChart .selectWeek dd {width:138px;}
.chartHistory .searchChart .selectWeek dd ul {width:90px;}
.chartHistory .searchChart .btnArea {clear:both;padding:10px 0 0;text-align:center;}
.chartHistory .resultNone {margin:18px 0 0;font-weight:bold;color:#666;text-align:center;}

.chartHistory .resultHd {overflow:hidden;width:100%;border-bottom:1px solid #e7e7e7;}
.chartHistory .resultHd h4 {float:left;height:22px;width:100px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/h_title.gif') no-repeat;}
.chartHistory .resultHd h4.chartTop100 {background-position:0 -398px;}
.chartHistory .resultHd h4.chartMusic {background-position:0 -438px;}
.chartHistory .resultHd h4.chartArtist {background-position:0 -478px;}
.chartHistory .resultHd h4.chartMV {background-position:0 -518px;}
.chartHistory .resultHd .selectedTerm {float:right;color:#666;}

.chartHistory .bugsGuinness {padding:15px 0 0;border-top:2px solid #666;}
.chartHistory .bugsGuinness h4 {height:20px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/h_title.gif') no-repeat 0 -560px;}
.chartHistory .bugsGuinness .desc {float:left;margin:0 0 10px;color:#666;}
.chartHistory .bugsGuinness .termInfo {float:right;padding:5px 0 0;}
.chartHistory .bugsGuinness ul {clear:both;overflow:hidden;width:794px;}
.chartHistory .bugsGuinness li {float:left;}
.chartHistory .bugsGuinness .aboutArtist {margin:0 20px 20px 0;}
.chartHistory .bugsGuinness .aboutAlbum {margin:0 0 20px;}
.chartHistory .bugsGuinness .aboutSong {margin:0 20px 0 0;}
.chartHistory .bugsGuinness dl {height:113px;width:387px;background:url('http://file.bugsm.co.kr/nbugs/chart/bg_list.gif') no-repeat 0 -1800px;}
.chartHistory .bugsGuinness dt {height:43px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/chart/h_title.gif') no-repeat;}
.chartHistory .bugsGuinness dd ul {width:100%;}
.chartHistory .bugsGuinness .aboutArtist dt {background-position:20px -584px;}
.chartHistory .bugsGuinness .aboutAlbum dt {background-position:20px -624px;}
.chartHistory .bugsGuinness .aboutSong dt {background-position:20px -664px;}
.chartHistory .bugsGuinness .aboutMV dt {background-position:20px -704px;}
.chartHistory .bugsGuinness dd {padding:9px 0 0 18px;}
.chartHistory .bugsGuinness dd li {clear:both;margin:0;}
.chartHistory .bugsGuinness dd li a {color:#666;line-height:17px;}
.chartHistory .bugsGuinness dd li.on a {font-weight:bold;color:#ed6f00;text-decoration:underline;}
.chartHistory .record {clear:both;overflow:hidden;width:100%;margin:50px 0 0;}
.chartHistory .record * {color:#666;}
.chartHistory .record h5 {height:26px;border-bottom:2px solid #666;}
.chartHistory .record .oneclickAction {margin:0;}
.chartHistory .record .oneclickAction .check {margin-left:10px;}
.chartHistory .record .oneclickAction .check .checkbox {height:17px;width:17px;background-position:0 0;}
.chartHistory .record .oneclickAction .check.click .checkbox {background-position:0 -40px;}
.chartHistory .record .artistInfo {overflow:hidden;width:100%;margin:0 0 13px;padding:10px 0 0;}
.chartHistory .record .artistInfo .thumbnail {margin:0 15px 0 5px;}
.chartHistory .record .artistInfo dl {float:left;}
.chartHistory .record .artistInfo dl * {line-height:17px;}
.chartHistory .record .artistInfo dt a {font-weight:bold;color:#7c9400;}
.chartHistory .record .artistInfo .reputation {float:right;margin:29px 0 0;padding:0 15px 0 0;letter-spacing:-1px;text-align:right;}
.chartHistory .record .artistInfo .reputation span {color:#f07d00;}
.chartHistory .record .artistInfo .reputation span em {color:#f07d00;letter-spacing:0;}
.chartHistory .record .thumbnail {display:inline;float:left;margin:0 15px 0 5px;}
.chartHistory .record .thumbnail img {height:75px;width:75px;}
.chartHistory .record .trackList li {height:52px;}
.chartHistory .record .trackList .listRow .check {margin-top:17px;}
.chartHistory .record .trackList .listRow .btnAction {position:relative;top:50%;margin-top:-10px;}
.chartHistory .record .trackList .listRow .trackInfo {position:relative;top:50%;margin:-8px 0 0;padding:0;}
.chartHistory .record .trackList .listRow .tracktitle {font-weight:bold;}
.chartHistory .record .trackList .listRow .btnMoreAction {top:50%;margin:-9px 0 0;}
.chartHistory .record.album .trackList li .artistname {color:#7c9400;}
.chartHistory .record .albumList {position:relative;width:100%;padding:10px 0;}
.chartHistory .record.track .trackList li {height:95px;}
.chartHistory .record.track .trackList li .thumbnail {margin-top:10px;}
.chartHistory .record.track .trackList li .trackInfo {margin:-16px 0 0;}