@charset "UTF-8";
@import url('new/header.css?version=20140305');
@import url('new/list.css?version=20150126');

/* common */
* {margin:0;padding:0;}
html {background-color:#FFF;}
body {font-size:12px;background-color:#FFF;}
body,div,p,span,a,pre,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,form,fieldset,select,textarea,input,button,blockquote,th,td,caption {font-family:Dotum, '돋움', helvetica, 'Apple SD Gothic Neo', AppleGothic, Sans-serif, Meiryo, 'メイリオ', 'MS Gothic';}
h5,h6 {font-size:1em;}
body,div,p,a,dl,dt,dd,ul,ol,li,form,fieldset,select,textarea,input,button,blockquote,th,td,caption {color:#54575A;}
table{border:0;border-spacing:0;empty-cells:show;}
td {word-break:break-all;word-wrap:break-word;}
em,cite,address,dfn,var {font-style:normal;}
dl,ul {list-style:none;}
ol {list-style:decimal none outside;}
img {border:0;vertical-align:top;}
fieldset {display:block;border:none;}
legend {height:0;width:0;overflow:hidden;visibility:hidden;font-size:0;}
button {cursor:pointer;border:0 none;}
select {height:21px;line-height:19px;}
textarea, input {outline-width:medium;}
textarea {overflow:hidden;padding:5px 0 0 5px;font-size:12px;resize:none;}
input.text,
input.password {padding-left:2px;background-color:#FFF;}
	.msie6 input.text,
	.msie7 input.text,
	.msie6 input.password,
	.msie7 input.password {margin:-1px 0 0;}
.default {border:1px solid #DADADA;}
.focus {border:1px solid #F26A00;}
.endInput {border:1px solid #DADADA;}
input.checkbox {height:14px;width:14px;margin:0 3px 0 0;vertical-align:top;}
	.msie6 input.checkbox,
	.msie7 input.checkbox {vertical-align:-1px;}
input.radio {height:14px;width:14px;vertical-align:top;}
	.msie6 input.radio,
	.msie7 input.radio {vertical-align:-1px;}
label {cursor:pointer;}
iframe {margin:0;border:0;}
hr {display:none;}

a {text-decoration:none;cursor:pointer;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

.dNone {display:none;}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.ff3_5 .ellipsis {white-space:normal;}
	
.thumbnailValign {display:inline-block;width:0;height:100%;vertical-align:middle;}
.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

#skipNav {position:relative;z-index:100;}
#skipNav a {display:block;position:absolute;top:-50px;left:0;height:27px;width:140px;background:url('http://file.bugsm.co.kr/nbugs/common/nav_skipNav.gif') no-repeat 0 0;}
#skipNav a:active,
#skipNav a:focus {top:0;}
#skipNav a.goContent {background-position:0 0;}
#skipNav a.goLogin {background-position:0 -30px;}
#skipNav a.goBugsRadio {background-position:0 -60px;}
#skipNav a.goBugsStory {background-position:0 -90px;}
#skipNav a.goBugsChart {background-position:0 -120px;}
#skipNav a span {display:none;}


/* layout */
#wrap {width:100%;}
#container {position:relative;width:964px;margin:0 auto;/* background:url('http://file.bugsm.co.kr/nbugs/common/bg_container.gif') no-repeat 0 100%; */z-index:1;}
	.msie6 #container,
	.msie7 #container {zoom:1;}
#container:after {content:"";display:block;clear:both;}
#container.private {padding:0;background-image:none;}
#content {padding-bottom:70px;}

/* footer */
.footerWrap {width:100%;border-top:1px solid #dcdcdc;background-color:#FFF;}
#footer {position:relative;height:145px;width:964px;margin:30px auto;}
#footer::after {content:"";display:block;clear:both;visibility:hidden;height:0;}
#footer div.company {position:absolute;top:0;left:0;}
#footer .policy {overflow:hidden;height:22px;margin-left:120px;background:url('http://file.bugsm.co.kr/nbugs/common/new/footer/i_footerV4.gif') no-repeat 0 0;}
#footer .policy li {float:left;}
#footer .policy li a {display:block;overflow:hidden;height:15px;width:100%;text-indent:-1000em;}
#footer .policy li.helpdesk {width:47px;}
#footer .policy li.company {width:54px;}
#footer .policy li.cooperation {width:54px;}
#footer .policy li.rules {width:55px;}
#footer .policy li.privacy {width:92px;}
#footer .policy li.safeGuard {width:83px;}
#footer .policy li.sitemap {width:50px;}
#footer .companyInfo {position:relative;overflow:hidden;height:34px;width:844px;margin-left:120px;background:url('http://file.bugsm.co.kr/nbugs/common/new/footer/i_footerV4.gif') no-repeat 0 -50px;}
#footer .companyInfo li,
#footer .companyInfo li span {display:none;}
#footer .companyInfo li.email {display:block;position:absolute;top:0;left:415px;}
#footer .companyInfo li.email a {display:block;overflow:hidden;height:15px;width:104px;text-indent:-1000em;}
#footer .companyInfo li.ftclink {display:block;position:absolute;top:15px;left:600px;}
#footer .companyInfo li.ftclink a {display:block;overflow:hidden;height:15px;width:74px;text-indent:-1000em;}
#footer .copyright {overflow:hidden;height:26px;margin-left:120px;background:url('http://file.bugsm.co.kr/nbugs/common/new/footer/i_footerV4.gif') no-repeat 0 -100px;}
#footer .copyright span {display:none;}
#footer .aside {overflow:hidden;height:50px;width:964px;}
#footer .aside span {float:left;}
#footer .aside a span{display:none;}
#footer .familySite {position:absolute;top:0;right:0;}
#footer .familySite label {display:none;}
#footer .familySite select {width:120px;}

/* login - main + layer */
div.login {position:relative;height:279px;/* width:223px; */padding:12px 0 0 13px;}
div.login * {letter-spacing:-1px;}
.login h3 {width:150px;margin-left:-1px;}
.login h3 span {display:none;}
.login .bugsID {height:151px;width:212px;border-bottom:1px solid #e8e8e8;}
.login .bugsID h3 {margin-bottom:5px;background-position:-200px 0;}
.login .bugsID .help {overflow:hidden;width:100%;}
.login .bugsID .help a {line-height:30px;}
.login .bugsID .help .signup {float:left;}
.login .bugsID .help .signup a {font-weight:bold;color:#1d1d1e;}
.login .bugsID .help .forgot {float:right;}
.login .facebookID {height:95px;width:212px;padding-top:19px;border-top:1px solid #fafafa;}
.login .facebookID h3 {margin-bottom:9px;background-position:-200px -100px;}
.login .facebookID p {float:left;padding-top:1px;font-size:12px;line-height:18px;}
.login .btnBugsLogin {position:absolute;top:68px;right:11px;height:54px;width:60px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat -200px -300px;}
.login .btnFBLogin {float:right;height:54px;width:60px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat -300px -300px;}
.loginForm legend {display:none;}
.loginForm .inputInfo {float:left;}
.loginForm .inputInfo span {position:relative;display:block;height:24px;}
.loginForm .inputInfo label {position:absolute;top:0;left:0;cursor:text;height:24px;width:147px;line-height:26px;text-indent:8px;}
.loginForm .inputInfo .text {height:22px;width:143px;color:#686869;line-height:22px;border:1px solid #d5d5d5;background-color:#FFF;}
.loginForm .inputInfo .focus {color:#1d1d1e;border-color:#F60;}
.loginForm .inputInfo .username {margin:1px 0 5px;}
.loginForm .layerInputIDDesc {top:148px;left:13px;width:214px;}
.loginForm .loginOption {clear:both;padding-top:10px;white-space:nowrap;}
.loginForm .loginOption span {display:inline-block;margin-right:16px;}
.loginForm .loginOption label {display:inline-block;line-height:14px;}
.loginForm .layerAutoLogin {top:148px;left:13px;width:214px;}
.loginForm .layerInputIDDesc {top:10px;left:13px;width:214px;}
.loginForm .layerInputIDDesc2 {top:16px;left:20px;width:214px;}
.accountSection .login .bugsID {border-bottom:1px solid #1c1c1c;}
.accountSection .login .bugsID h3 {margin-bottom:5px;background-position:0 0;}
.accountSection .login .bugsID .help .signup a {color:#f0f0f0;}
.accountSection .login .bugsID .help .forgot {float:right;color:#999;}
.accountSection .login .bugsID .help .forgot a {color:#999;}
.accountSection .login .facebookID {border-top:1px solid #3f3f3f;}
.accountSection .login .facebookID h3 {margin-bottom:15px;background-position:0 -100px;}
.accountSection .login .facebookID p {color:#999;}
.accountSection .login .btnFBLogin {background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat -100px -300px;}
.accountSection .loginForm .inputInfo label {color:#bdbdbd;}
.accountSection .loginForm .inputInfo .text {color:#bdbdbd;border:1px solid #535358;background-color:#242525;}
.accountSection .loginForm .inputInfo .focus {border-color:#F60;}
.accountSection .loginForm .btnBugsLogin {background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat 0 -300px;}
.accountSection .loginForm .loginOption label {color:#999;}
.layerLogin {display:none;position:absolute;height:299px;width:254px;z-index:990;}
.layerLogin .bg {height:100%;width:100%;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerLogin.png') no-repeat;}
	.msie6 .layerLogin .bg {background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerLogin.gif') no-repeat;}
.layerLogin * {font-size:11px;letter-spacing:-1px;}
.layerLogin .login {padding:20px 0 0 20px;}
.layerLogin h3 {height:21px;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat;}
.layerLogin .btnClose {position:absolute;top:0;left:225px;}
.layerLogin .btnClose a {display:block;height:25px;width:29px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/bc_close.gif') no-repeat 10px 8px;}
.layerLogin .loginForm .layerAutoLogin {top:156px;left:19px;}
.layerLogin .login .btnBugsLogin {top:76px;right:22px;}

.cpPopupLogin {display:none;position:absolute;height:177px;width:254px;z-index:990;}
.cpPopupLogin .bg {height:100%;width:100%;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerLogin.png') no-repeat 0 -310px;}
	.msie6 .cpPopupLogin .bg {background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerLogin.gif') no-repeat;}
.cpPopupLogin * {font-size:11px;letter-spacing:-1px;}
.cpPopupLogin .login {height:157px;padding:20px 0 0 20px;}
.cpPopupLogin .login .btnBugsLogin {top:76px;right:22px;}
.cpPopupLogin h3 {height:21px;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_account.gif') no-repeat;}
.cpPopupLogin .loginForm .layerAutoLogin {top:156px;left:19px;}

/* 알림 레이어 */
.layerDefine {position:absolute;overflow:hidden;padding-top:5px;z-index:500;}
.layerDefine * {font-size:11px;line-height:15px;letter-spacing:-1px;}
.layerDefine .content {position:relative;float:left;padding:11px 0 0;z-index:510;}
.layerDefine .content .title {display:block;margin:0 0 4px 13px;color:#303030;}
.layerDefine .content .desc {margin:0 8px 0 13px;color:#303030;line-height:15px;}
.layerDefine .content .desc em {font-weight:bold;color:#303030;}
.layerDefine .content .desc strong {font-weight:normal;color:#fb302d;}
.layerDefine .content .check {padding:5px 2px 0 0;text-align:right;}
.layerDefine .content .check label {color:#a8a8a8;}
#wrap .layerDefine .btnClose {position:absolute;top:5px;right:0;clear:both;z-index:520;}
#wrap .layerDefine .btnClose span {display:block;cursor:pointer;height:23px;width:23px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/bc_close.gif') no-repeat 6px 7px;}
.layerLogin .layerDefine .btnClose {position:absolute;top:5px;left:auto;right:0;clear:both;z-index:520;}
.layerLogin .layerDefine .btnClose span {display:block;cursor:pointer;height:23px;width:23px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/bc_close.gif') no-repeat 6px 7px;}
.layerDefine .bg {background-repeat:no-repeat;}
.layerDefine .bgTR {float:right;width:5px;background-position:100% -100px;z-index:510;}
.layerDefine .bgBL {float:left;height:11px;width:50%;background-position:0 100%;}
.layerDefine .bgBR {float:right;height:11px;width:50%;background-position:100% 100%;}
.layerDefine .bgTap {position:absolute;top:0;clear:both;height:6px;width:11px;background-position:0 0;z-index:520;}
.layerDefine .bgTapTL {left:20px;}
.layerDefine .bgTapTR {right:21px;}
.layerDefine .bgTapBL {left:20px;background-position:0 -10px;}
.layerDefineTapBtm {padding-top:0;padding-bottom:4px;}
.layerDefineTapBtm .bgTap {top:auto;bottom:0;}

.typeClick {display:none;}
.typeClick .content {background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineClick_20150513.png') no-repeat 0 -100px;}
.typeClick .bg {background-image:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineClick_20150513.png');}
	.msie6 .typeClick .bg {background-image:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineClick.gif');}
.typeLoad {display:block;}
.typeLoad .content {background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineLoad.png') no-repeat 0 -100px;}
.typeLoad .bg {background-image:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineLoad.png');}
	.msie6 .typeLoad .bg {background-image:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layerDefineLoad.gif');}


/* button */
/* button common */
.button,
.button * {display:inline-block;position:relative;overflow:visible;letter-spacing:-1px;text-decoration:none;vertical-align:top;white-space:nowrap;background:url('http://file.bugsm.co.kr/nbugs/common/button/bg_button.gif') no-repeat;}
.button {margin-right:2px;margin-left:1px;}
.button * {left:2px;padding:0 10px 0 9px;}
	body:first-of-type .button button {padding:0 7px 0 6px;}
/* button type */
.button.typeD, .button.typeD *, .button.typeD a, .button.typeD button,
.button.typeE, .button.typeE *, .button.typeE a, .button.typeE button {height:26px;line-height:26px;}
.button.typeM, .button.typeM *,
.button.typeME, .button.typeME * {height:23px;line-height:23px;}
.button.typeL, .button.typeL * {height:23px;line-height:23px;}
.button.typeS, .button.typeS * {height:21px;line-height:21px;}
.button.textS * {font-size:11px;line-height:22px;}
.button.typeD {background-position:0 0;}
.button.typeE {background-position:0 -40px;}
.button.typeM {background-position:0 -80px;}
.button.typeME {background-position:0 -120px;}
.button.typeL {background-position:0 -240px;}
.button.typeS {background-position:0 -160px;}
.button.typeD * {background-position:100% 0;}
.button.typeE * {background-position:100% -40px;}
.button.typeM * {background-position:100% -80px;}
.button.typeME * {background-position:100% -120px;}
.button.typeL * {color:#FFF;background-position:100% -240px;}
.button.typeS * {background-position:100% -160px;}
.button.typeM a,
.button.typeME a,
.button.typeL a {line-height:24px;}
.button.typeS a {line-height:22px;}
	.ff3_5 .button.typeME a,
	.ff3_5 .button.typeL a,
	.ff3_5 .button.typeM a {line-height:25px;}
	.ff3_5 .button.typeS a {line-height:23px;}
/* button strong */
.button.typeE a, .button.typeME a,
.button.typeE button, .button.typeME button {font-weight:bold;color:#FFF;}
/* button icon */
.button.icon {padding-left:9px;}
.button.icon span {width:12px;margin-right:-9px;padding:0;}
.button .check {background-position:0 -272px;}
.button span.email {width:22px;background-position:0 -473px;}
.button span.faxPost {width:20px;background-position:0 -515px;}
/* button hover */
.button:hover, .button *:hover {text-decoration:none;}
/* button word width */
body:first-of-type .button.word1to3 a,
body:first-of-type .button.word1to3 button,
.button.word1to3 a,
.button.word1to3 button {padding:0 21px 0 20px;}

/* more */
.moreList {overflow:hidden;height:31px;width:100%;text-align:center;border-bottom:1px solid #E5E5E5;background-color:#FAFAFA;}
.moreList span {font-weight:bold;}
.moreList strong {color:#F60;}
.moreList a {padding:0 10px 0 0;line-height:32px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -116px;}
.moreList a:hover strong {text-decoration:underline;}
div.more {overflow:hidden;height:31px;width:100%;text-align:center;border-bottom:1px solid #E5E5E5;background-color:#FAFAFA;}
.more span {font-weight:bold;}
.more strong {color:#F60;}
.more a {padding:0 10px 0 0;line-height:32px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -116px;}
.more a:hover strong {text-decoration:underline;}
.moreAll a {padding:0 7px 0 0;font-size:11px;letter-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -277px;}

/* tab */
.tabWrap {overflow:hidden;width:100%;}
.tab,
.tabInfo,
.tabSorting {overflow:hidden;background-image:url('http://file.bugsm.co.kr/nbugs/common/bg_tab.gif');background-repeat:repeat-x;}
.tab {height:35px;width:100%;background-position:0 0;}
.tab li {float:left;overflow:hidden;height:35px;}
.tab li a {display:block;height:35px;width:100%;line-height:34px;text-indent:-1000em;}
.tabInfo {height:35px;width:100%;background-position:0 -40px;}
.tabInfo .desc {float:left;padding:0 0 0 10px;color:#999;line-height:34px;}
.tabSorting {float:right;height:35px;width:auto;padding:0 10px 0 0;background-position:0 -40px;}
.tabSorting li {float:left;padding:0 7px 0 8px;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 0 -38px;}
.tabSorting li a {color:#666;line-height:34px;}
.tabSorting li.on a {color:#333;font-weight:bold;}
.tabSorting li.first {background-image:none;}
.cateSorting {float:right;height:35px; width:auto;padding:0 10px 0 0;}
.cateSorting li {display:inline;float:left;margin:10px 0 0 1px;}
.cateSorting li span {display:inline-block;height:25px;line-height:25px;background:url('http://file.bugsm.co.kr/nbugs/common/button/bg_button.gif') no-repeat 0 -440px;}
.cateSorting li a {display:inline-block;height:25px;padding:0 20px 0 20px;font-weight:bold;color:#999;line-height:25px;letter-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/button/bg_button.gif') no-repeat 100% -440px;}
.cateSorting li.on span {background-position:0 -400px;}
.cateSorting li.on a {font-weight:bold;color:#333;background-position:100% -400px;}
.cateTabSorting {overflow:hidden;position:relative;height:40px;border-bottom:1px solid #ececec;}
.cateTabSorting ul {position:absolute;overflow:hidden;width:auto;padding:0 10px 0 0;}
.cateTabSorting li {float:left;padding:0 7px 0 8px;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 0 -225px;}
.cateTabSorting li a {color:#666;line-height:40px;}
.cateTabSorting li.on a {font-weight:bold;color:#ec6900;}
.cateTabSorting li.first {background-image:none;}

/* pagination */
.pagination .btnPagination {display:inline-block;overflow:hidden;background:url('http://file.bugsm.co.kr/nbugs/common/button/bc_pagination.gif') no-repeat;}
.pagination .bcPrev,
.pagination .bcNext {height:13px;width:13px;padding:2px;}
.pagination .bcPrev span,
.pagination .bcNext span {display:none;}
.pagination .bcPrev {background-position:2px 2px;}
.pagination .bcNext {background-position:2px -38px;}
.pagination .bcPrev:hover {background-position:-38px 2px;}
.pagination .bcNext:hover {background-position:-38px -38px;}

.pagination.typeF {padding:20px 0 0;text-align:center;vertical-align:top;}
.pagination.typeF * {vertical-align:top;color:#5B5B5B;}
.pagination.typeF a {display:inline-block;overflow:hidden;height:23px;margin:0 1px;line-height:25px;text-align:center;border:1px solid #EBEBEB;}
.pagination.typeF a:hover {color:#FF6506;text-decoration:none;border:1px solid #DCDCDC;background:#F7F7F7;}
.pagination.typeF .number.on {color:#FF6506;text-decoration:underline;border:1px solid #DCDCDC;background:#F7F7F7;}
.pagination.typeF .number {padding:0 8px;font-weight:bold;}
.pagination.typeF .number.double {width:23px;padding:0;}
.pagination.typeF .number.moreThree {padding:0 4px;}
.pagination.typeF .prev {padding:0 9px 0 19px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 10px -352px;}
.pagination.typeF .prev:hover {background:#F7F7F7 url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 10px -472px;}
.pagination.typeF .next {padding:0 10px 0 9px;}
.pagination.typeF .next span {display:inline-block;padding:0 8px 0 0;line-height:25px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -392px;}
.pagination.typeF .next:hover span {color:#FF6506;background-position:100% -512px;}
.pagination.typeSmall {text-align:right;margin:0 1px 0 0;}
.pagination.typeSmall a {display:inline-block;margin:6px 0 0 2px;padding:0 0 0 6px;font:11px Tahoma;color:#666;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 0 -75px;}
.pagination.typeSmall a.first {padding:0;background:none;}
.pagination.typeSmall a.on {font-weight:bold;color:#333;}
.btnArticlePagination {margin:15px 0 0;text-align:right;}
.btnArticlePagination .button.prev {background-position:0 -320px;}
.btnArticlePagination .button.prev a {padding-left:16px;}
.btnArticlePagination .button.list a {padding:0 14px 0 12px;}
.btnArticlePagination .button.next a {padding-right:17px;background-position:100% -320px;}

.simpleNav {overflow:hidden;height:15px;}
.simpleNav a {display:inline-block;overflow:hidden;height:0;width:15px;padding:15px 0 0;margin:0 -1px 0 0;vertical-align:top;background:url('http://file.bugsm.co.kr/nbugs/common/button/bc_pagination.png') no-repeat 2px 2px;}
.simpleNav a.selected {background-position:-48px 2px;}


.period {position:relative;height:13px;width:131px;font-size:0;background:url('http://file.bugsm.co.kr/nbugs/common/bg_artistPeriod.gif') no-repeat;}
.period span {position:absolute;top:0;height:13px;width:15px;background:url('http://file.bugsm.co.kr/nbugs/common/bg_artistPeriodOn.gif') no-repeat;}
.period span em {display:none;}
.period span.period1910-50 {left:0;width:41px;}
.period span.period60 {left:42px;background-position:0 -20px;}
.period span.period70 {left:58px;background-position:0 -40px;}
.period span.period80 {left:74px;background-position:0 -60px;}
.period span.period90 {left:90px;background-position:0 -80px;}
.period span.period2000 {left:106px;width:25px;background-position:0 -100px;}


/* comment */
.comment {position:relative;}
.comment h3 span {display:none;}
.comment h3 strong {font-size:16px;color:#F60;}
.comment h3 strong em {font-family:tahoma;}
.comment h4 span {display:none;}
.comment h4 strong {font-size:14px;color:#F60;}
.comment h4 strong em {font-family:tahoma;}
#commentForm {position:relative;overflow:hidden;border:1px solid #DADADA;background:url('http://file.bugsm.co.kr/nbugs/common/bg_comment-.gif') no-repeat;}
#commentForm legend {line-height:0;}
#commentForm .caution {display:none;}
#commentForm .wordCount {clear:both;position:absolute;right:10px;top:0;color:#666;line-height:32px;z-index:3;}
#commentForm .wordCount strong {font-size:11px;font-family:tahoma;color:#333;}
#commentForm .wordCount.over300 strong {color:#F00;}
#commentForm .wrap {overflow:hidden;width:100%;padding:39px 0 0;}
#commentForm textarea {float:left;height:42px;width:348px;margin:0 0 3px;padding:0 0 0 10px;color:#999;border:0 none;}
#commentForm textarea.focus {color:#54575A;}
#commentForm input {display:inline;float:right;margin:0 4px 3px 0;}
#commentForm .help {position:absolute;left:11px;top:0;font-size:11px;color:#797979;letter-spacing:-1px;line-height:36px;}
#commentForm .help em {letter-spacing:0;text-decoration:underline;}
#commentForm .facebook {position:absolute;top:9px;left:10px;height:18px;padding:0 0 0 23px;background:url('http://file.bugsm.co.kr/nbugs/common/ic2.gif') no-repeat 0 -100px;}
#commentForm .facebook a,
#commentForm .facebook span {font-size:11px;color:#797979;line-height:20px;vertical-align:top;}
#commentForm .facebook a span,
#commentForm .facebook span span {display:none;}
#commentForm .share {clear:both;overflow:hidden;height:31px;margin:0;padding:0 10px 0 0;border-top:1px solid #DADADA;background-color:#F6F6F6;}
#commentForm .share dl {float:right;}
#commentForm .share dt {display:none;}
#commentForm .share dd {float:left;vertical-align:middle;}
#commentForm .share dd.setting a {line-height:32px;text-decoration:underline;}
#commentForm .share ul {overflow:hidden;}
#commentForm .share ul li {float:left;padding:8px 10px 0 0;}
#commentForm .share ul li input {float:none;margin:0 5px 0 0;vertical-align:middle;}
#commentForm .share ul li label {display:inline-block;vertical-align:middle;}
#commentForm .share ul li span {display:block;overflow:hidden;height:17px;width:16px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat;}
#commentForm .share ul li .twitter {background-position:0 -2580px;}
#commentForm .share ul li .facebook {background-position:0 -2620px;}
#commentForm .share ul li .me2day {background-position:0 -2660px;}

.commentList fieldset legend {line-height:0;}
.commentList fieldset .wrap {overflow:hidden;width:566px;margin:6px 5px 5px;border:1px solid #DADADA;background-color:#FFF;}
.commentList fieldset textarea {float:left;height:42px;width:348px;margin:4px 0 3px;padding:0 0 0 10px;border:0 none;}
.commentList fieldset input {display:inline;float:right;margin:4px 4px 3px 0;}
.noneReplyForm {width:100%;background:#F8F8F8 url('http://file.bugsm.co.kr/nbugs/common/bg_comment-.gif') repeat-x 0 -200px;}
.replyForm {width:100%;border-top:1px solid #E9E9E9;background-color:#F8F8F8;}
.commentList .replyForm textarea {width:430px;}
#commentList {overflow:hidden;width:100%;padding:23px 0 0;}
#commentList .sorting {float:right;padding:0 0 5px 0;}
#commentList .sorting li {float:left;padding:0 0 0 10px;background:url('http://file.bugsm.co.kr/nbugs/common/lv_gr.gif') no-repeat 0 -47px;}
#commentList .sorting li.first {background-image:none;}
#commentList .sorting li a {padding:0 9px 0 0;color:#797979;}
#commentList .sorting li.on {padding-right:4px;}
#commentList .sorting li.on a {font-weight:bold;color:#EB6300;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -557px;}
#commentList ol {list-style:none;}
.commentList {clear:both;overflow:hidden;width:100%;padding:5px 0 0;border-top:1px solid #999;}
.commentList li {float:left;overflow:hidden;width:100%;}
.commentList fieldset {clear:both;overflow:hidden;}
.commentList .userID {float:left;overflow:hidden;padding:0 5px 0 10px;margin-top:-2px;font-weight:bold;white-space:nowrap;}
.commentList .userID * {vertical-align:top;}
.commentList .userID a,
.commentList .userID div {display:block;padding-top:1px;overflow:hidden;width:100%;font-weight:bold;line-height:18px;text-overflow:ellipsis;white-space:nowrap;}
	.msie6 .commentList .userID a span,
	.msie7 .commentList .userID a span,
	.msie6 .commentList .userID div span,
	.msie7 .commentList .userID div span {vertical-align:middle;}
.commentList .userID.starChat a,
.commentList .userID.starChat div {color:#F60;}
.commentList .userID .bugsSpecial {display:inline-block;height:19px;padding:2px 0 0 23px;color:#ff3d33;background:url('http://file.bugsm.co.kr/nbugs/common/new/ic.gif') no-repeat 0 -875px;}
.commentList .userID .facebookID {display:inline-block;height:18px;width:18px;margin:0 5px 0 0;background:url('http://file.bugsm.co.kr/nbugs/common/ic2.gif') no-repeat 0 -100px;}
.commentList .userID .facebookID span {display:none;}
.commentList .userID .master {width:auto;padding-left:50px;background:url('http://file.bugsm.co.kr/nbugs/chart/i_master.gif') no-repeat 0 -1px;}
.commentList .text {position:relative;float:left;width:348px;padding:0 100px 8px 0;}
.commentList .text p {margin:0 0 16px;}
.commentList .text .url a {font-family:tahoma;font-size:11px;line-height:16px;text-decoration:underline;}
.commentList .text .date {float:left;margin:0 2px 0 0;font-family:tahoma;font-size:11px;color:#797979;}
.commentList .text .btn {float:left;}
.commentList .text .btn a {display:block;overflow:hidden;text-indent:-1000em;}
.commentList .text .btnDelete {float:left;}
.commentList .text .btnDelete a {height:10px;width:10px;padding:3px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/common/button/bc_delete.gif') no-repeat 3px -37px;}
.commentList .text .btnReplyNone {float:left;margin-left:3px;}
.commentList .text .btnReplyNone a {height:16px;width:60px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/bc_reply.gif') no-repeat;}
.commentList .text .btnReplyNone.close a {background-position:0 0;}
.commentList .text .btnReplyNone.open a {background-position:0 -30px;}
.commentList .text .btnReply {float:left;}
.commentList .btnLike {position:absolute;right:10px;top:50%;height:22px;margin:-18px 0 0;background:url('http://file.bugsm.co.kr/nbugs/common/button/bg_button.gif') no-repeat 0 -360px;}
.commentList .btnLike a {display:inline-block;height:22px;padding:0 22px 0 10px;font:bold 10px/20px tahoma;color:#F60;background:url('http://file.bugsm.co.kr/nbugs/common/button/bg_button.gif') no-repeat 100% -360px;}
	.ff3_5 .commentList .btnLike a {line-height:22px;}
.commentList .btnLike.cancel a {color:#666;}
.commentList .btnLike a span {display:none;}
.commentList .commentLi {padding:8px 0 0;border-bottom:1px solid #ECECEC;}
.commentList .commentLi .userID {width:115px;}
.commentList .commentLi .text p {overflow:hidden;margin:0 0 16px;word-break:break-all;}
.commentList .deleteLi {border-bottom:1px solid #ECECEC;}
.commentList .deleteLi .text {padding:0;}
.commentList .deleteLi .text .deleteMsg {float:left;margin:0;padding:0 4px 0 10px;line-height:48px;}
.commentList .deleteLi .text .btnReply {margin:16px 0 0;}
.replyList {clear:both;overflow:hidden;width:100%;background-color:#F8F8F8;}
.replyList li {padding-top:13px;border-top:1px solid #E9E9E9;}
.commentList .replyList li .userID {padding-left:26px;width:99px;background:url('http://file.bugsm.co.kr/nbugs/common/bu.gif') no-repeat 10px -277px;}
.commentList .replyList li .text {width:428px;padding:0 20px 8px 0;}
.commentList .replyList li .text p {margin:0;}
.replyList li .text .url {margin:16px 0 0;}
.commentHelp {position:absolute;top:0;right:7px;}
.commentHelp a {display:inline-block;padding-right:8px;letter-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -275px;} 

/* 스타한마디 */
.starComment {padding:0;border-top:0 none;}
.starComment .starCommentLi {width:792px;padding:13px 0 5px;border:1px solid #F26A00;}
.starComment .starCommentLi .userID {margin:0 0 0 -1px;}
.starComment .starCommentLi .text {margin:0 -1px 0 0;}
.starComment .starCommentLi .userID a {color:#F60;}
.starComment .starCommentLi .replyList .userID a {color:#54575A;}
.musicArtist .starComment .starCommentLi {width:576px;}
.musicAlbum .starComment .starCommentLi {width:721px;}

/* date image number */
.dateYMD {display:inline-block;overflow:hidden;height:18px;width:auto;}
.dateYMD span {float:left;display:block;height:16px;width:12px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/common/bg_numberYMD.gif') no-repeat;}
.dateYMD .dot {width:7px;background-position:-200px 0;}
.dateYMD .tilde {width:14px;margin:0 2px;background-position:-220px 0;}
.dateYMD .time {height:18px;width:16px;margin:0;background-position:-300px 0;}
.dateYMD .pm {width:20px;margin:0 2px 0 7px;background-position:-320px 0;}
.dateYMD .am {width:20px;margin:0 2px 0 7px;background-position:-345px 0;}
.dateYMD .num0 {background-position:0 0;}
.dateYMD .num1 {background-position:-20px 0;}
.dateYMD .num2 {background-position:-40px 0;}
.dateYMD .num3 {background-position:-60px 0;}
.dateYMD .num4 {background-position:-80px 0;}
.dateYMD .num5 {background-position:-100px 0;}
.dateYMD .num6 {background-position:-120px 0;}
.dateYMD .num7 {background-position:-140px 0;}
.dateYMD .num8 {background-position:-160px 0;}
.dateYMD .num9 {background-position:-180px 0;}

.layerInfoMsg {position:absolute;height:39px;background:url('http://file.bugsm.co.kr/nbugs/player/i_layerInfoMsg.gif') no-repeat;z-index:10;}
	.layerInfoMsg.top {top:26px;}
	.layerInfoMsg.bottom {bottom:27px;}
	.layerInfoMsg span {display:none;}
	.music .layerInfoMsg.inform {width:142px;}
	.music .layerInfoMsg.top {background-position:0 0;}
	.music .layerInfoMsg.bottom {background-position:0 -50px;}
	.musicvideo .layerInfoMsg.inform {width:152px;}
	.musicvideo .layerInfoMsg.top {background-position:0 -150px;}
	.musicvideo .layerInfoMsg.bottom {background-position:0 -200px;}
	
/* selectLayer */
.selectLayer {position:relative;float:left;vertical-align:top;}
.selectDefault {display:block;float:left;position:relative;text-indent:8px;border:1px solid #DADADA;background:#FFF;}
.selectDefault strong {font-size:14px;}
.selectDefault a {display:inline-block;position:absolute;top:0;right:0;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') 10px -1508px no-repeat;}
.selectDefault a.select {display:inline-block;position:absolute;top:0;right:0;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') 10px -1508px no-repeat;}
.selectList {display:none;position:absolute;left:0;padding:2px 0;border:1px solid #EFEFEF;background:#FFF;}
.selectList li a {display:inline-block;padding-left:12px;font-size:14px;text-decoration:none;}
.selectList li a:hover {background:#ECECEC;text-decoration:none;}

/* 도움말아이콘(?) */
.btnAdvice {height:14px;width:14px;vertical-align:top;background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') 0 -3340px no-repeat;}
	.msie6 .btnAdvice,
	.msie7 .btnAdvice {vertical-align:middle;}
	.music h5 .btnAdvice {display:block;}
	.musicAlbum .infoBox .info .desc .btnAdvice {position:relative;display:inline-block;}
	.msie7	.musicAlbum .infoBox .info .desc .btnAdvice {vertical-align:top;}
.btnAdvice a {display:inline-block;overflow:hidden;height:14px;width:14px;}
.btnAdvice a span {display:none;}

/* 페이스북 플러그인 - 좋아요 버튼 */
.social {position:relative;margin-bottom:15px;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/bg_pluginFacebook.png') no-repeat 100% 0;z-index:100;}
.pdEssential.pdView .social {width:383px;} /* 추천음악 전체 */
.music .social {width:728px;} /* 아티스트,앨범,곡 페이지 */
.artist.whatshot .social,
.artist.whatshot .social .pluginFacebook,
.artist.whatshot .social .bgBottom,
.artist.whatshot .social .bgBottom span {background-color:#F8F8F8;} /* What's hot */
.artist .viewContent .social {margin-bottom:8px;} /* 공연리뷰 */
.social .pluginFacebook {min-height:24px;margin-right:8px;padding:13px 0 0 8px;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/bg_pluginFacebook.png') no-repeat 0 0;}
.social .bgBottom {height:9px;padding-left:8px;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/bg_pluginFacebook.png') no-repeat 0 100%;}
.social .bgBottom span {display:block;height:9px;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/bg_pluginFacebook.png') no-repeat 100% 100%;}
	
/* sideBanner */
#sideBanner {position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;}
#sideBanner .inner {position:absolute;top:0;right:0;width:50%;}
#sideBanner .inner div {position:absolute;top:125px;left:489px;}
#sideBanner .inner div a {display:block;margin-bottom:5px;}

/* 홀드백-앨범할인 */
.holdbackSaleAlbum {position:absolute;text-indent:-1000em;background-image:url('http://file.bugsm.co.kr/nbugs/common/new/ic.png');background-repeat:no-repeat;z-index:10;}	
.holdbackSaleAlbum.sizeA {top:-1px;left:-9px;height:65px;width:71px;background-position:0 -100px;}
.holdbackSaleAlbum.sizeB {top:0;left:-7px;height:44px;width:49px;background-position:-80px -100px;}
	.popAlbumList li .thumbnail a .holdbackSaleAlbum.sizeB ,
	.popRecomList li .thumbnail a .holdbackSaleAlbum.sizeB {left:-16px}
	.newAlbum .list li .info .details a .holdbackSaleAlbum.sizeB {left:-7px;}

/*고음질아이콘*/
.icSoundQuality {display:inline-block;margin:-2px 4px 0 0;height:18px;overflow:hidden;font-size:0 !important;line-height:0 !important;vertical-align:middle;background-image:url('http://file.bugsm.co.kr/nbugs/common/ic_soundQuality.png');background-repeat:no-repeat;}
	.msie7 .icSoundQuality {margin:0 4px 0 0;}
.icSoundQuality.flac {width:47px;background-position:0 0;}
.icSoundQuality.flac16 {width:48px;background-position:0 -150px;}
.icSoundQuality.flac24 {width:48px;background-position:0 -200px;}
.icSoundQuality.flacAll {width:61px;background-position:0 -250px;}
.icSoundQuality.mp3 {width:47px;background-position:0 -50px;}
.icSoundQuality.fullHD {width:47px;background-position:0 -100px;}
.icSoundQuality.HD {width:22px;height:15px !important;background-position:0 -400px;}
	.popAlbumList li .thumbnail .icSoundQuality,
	.popRecomList li .thumbnail .icSoundQuality,
	.popMVList li .thumbnail .icSoundQuality ,
	.bugsUser .musicvideoList .thumbnail .icSoundQuality,
	.moreMV li .thumbnail .icSoundQuality {position:absolute;top:2px;right:-4px;display:block;}
	.newAlbum .list li .info .details a .icSoundQuality {position:absolute;top:3px;right:2px;}
	.musicTrack .musicvideo .list dd.thumbnail .icSoundQuality {position:absolute;top:3px;left:59px;display:block;}
		.msie7 .popAlbumList li .thumbnail .icSoundQuality ,
		.msie7 .popRecomList li .thumbnail .icSoundQuality ,
		.msie7 .popMVList li .thumbnail .icSoundQuality ,
		.msie7 .musicTrack .musicvideo .list dd.thumbnail .icSoundQuality ,
		.msie7 .bugsUser .musicvideoList .thumbnail .icSoundQuality {top:0;} 	

/* share */
.share {float:right;padding-right:1px;}
.share dt {display:none;}
.share dd {float:left;height:24px;margin-left:5px;background:url('http://file.bugsm.co.kr/nbugs/common/i_share.gif') no-repeat;}
.share dd.facebook {background-position:0 0;}
.share dd.twitter {background-position:-50px 0;}
.share dd.cyworld {background-position:-100px 0;}
.share a {display:block;height:24px;width:24px;vertical-align:top;}
.share a span {display:none;}

/* 집계기준 */
.criterionInfo {position:absolute;right:0;top:10px;line-height:35px;background-image:none;}
.criterionInfo span {padding:0 0 0 7px;line-height:35px;background:url('http://file.bugsm.co.kr/nbugs/common/bu.gif') no-repeat 0 -236px;}
.criterionInfo em {color:#D9D9D9;}
.criterionInfo a {padding:0 8px 0 0;line-height:35px;text-decoration:underline;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -1036px; }

.term {position:relative;height:25px;width:100%;margin-bottom:15px;vertical-align:top;}
.term .date {height:21px;padding:0 0 0 86px;text-align:center;}
.term .date .prev {display:inline-block;height:21px; width:21px;line-height:21px;background:url('http://file.bugsm.co.kr/nbugs/common/button/bt_calendar.gif') no-repeat 0 0;}
.term .date .next {display:inline-block;height:21px; width:21px;line-height:21px;background:url('http://file.bugsm.co.kr/nbugs/common/button/bt_calendar.gif') no-repeat 0 -100px;}
.term .date .prev span,
.term .date .next span {display:none;}
.term .date span.prev {background-position:0 -50px;}
.term .date span.next {background-position:0 -150px;}
.term .date .dateYMD {display:inline-block;margin:0 10px;padding:2px 0 0;font-size:18px;font-weight:bold;color:#333;line-height:22px;vertical-align:top;}
.term .goLink {display:inline-block;overflow:hidden;height:21px;width:80px;padding:0 0 0 6px;vertical-align:top;text-align:left;}
.term .goLink a {padding:0 7px 0 0;line-height:22px;text-decoration:underline;background:url('http://file.bugsm.co.kr/nbugs/common/bu_arrow.gif') no-repeat 100% -157px;}
.term .dateTab {position:absolute;top:0;left:0;overflow:hidden;padding-top:5px;}
.term .dateTab li {float:left;}
.term .dateTab a {display:inline-block;width:38px;color:#666;text-align:center;text-decoration:none;}
.term .dateTab a.letters3 {width:48px;}
.term .dateTab a:hover,
.term .dateTab a.on {color:#54575a;font-weight:bold;letter-spacing:-1px;}
.term .dateTab span {color:#e0e0e0;}

