@charset "UTF-8";

/* 20100614BU증대 프로모션 */
.chart #content {z-index:1;}
.chart .bannerEvent {display:none;}
.chartTop100 .bannerEvent {display:block;position:absolute;right:0;top:84px;z-index:10;}
.buyPass .bannerEvent {margin:0 0 7px;}

.purchaseInfo .purchase dd span {display:block;}
.purchaseInfo .purchase dd .price {float:left;margin:0 5px 0 0;}
.purchaseInfo .purchase dd .price span {text-decoration:line-through;}
.purchaseInfo .purchase dd .price span em {display:none;}
.purchaseInfo .purchase dd .price .salePrice {text-decoration:none;}
.purchaseInfo .purchase dd .salePrice strong {font-size:14px;font-weight:bold;}
.purchaseInfo .purchase dd .sale {float:left;height:36px;width:74px;}

/*이벤트개편*/
#container.event {}
.event * {line-height:16px;}
.event #content {position:relative;float:left;width:794px;padding:10px 0 70px 21px;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_content.gif') no-repeat;}
.event h2 {height:40px;text-indent:-1000em;background:#FFF url('http://file.bugsm.co.kr/nbugs/event/index/lnb_event.gif') no-repeat;}
.event h3 {height:45px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/event/index/h3_title.gif') no-repeat;}
.event.eventIng h3 {background-position:0 0;}
.event.eventEnd h3 {background-position:0 -50px;}
.event.prizeWinner h3 {background-position:0 -100px;}

.event .lnbWrap {float:left;width:149px;padding:8px 0 70px;}
.event .lnb {width:100%;}
.event .lnb li {overflow:hidden;width:100%;background-image:url('http://file.bugsm.co.kr/nbugs/event/index/lnb_event.gif');background-repeat:no-repeat;}
.event .lnb li a {display:block;height:31px;width:100%;text-indent:-1000em;}
.event .lnb .mnEventIng {background-position:0 -40px;}
.event.eventIng .lnb .mnEventIng {background-position:-200px -40px;}
.event .lnb .mnEventEnd {background-position:0 -71px;}
.event.eventEnd .lnb .mnEventEnd {background-position:-200px -71px;}
.event .lnb .mnPrizeWinner {background-position:0 -102px;}
.event.prizeWinner .lnb .mnPrizeWinner {background-position:-200px -102px;}

.event span.radio {display:inline-block;cursor:pointer;height:14px;width:14px;vertical-align:-3px;background:url('http://file.bugsm.co.kr/nbugs/event/index/ic_input.gif') no-repeat 0 -50px;}
.event span.radio input {display:none;}
.event span.radio.checked {background-position:0 0;}

/* eventIng - eventEnd 공통 */
.event .eventList #eventList {clear:both;}
.event .eventList .nodata {padding:130px 0;margin-bottom:16px;color:#888;text-align:center;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.event .eventList .list {width:807px;margin-right:-15px;}
.event .eventList .list li {float:left;margin-bottom:15px;width:269px;height:204px;border-bottom:1px solid #f0f0f0;}
.event .eventList .list li .box {position:relative;width:256px;}
.event .eventList .list li .box .banner {margin-bottom:7px;height:75px;background:#f2f2f2;}
.event .eventList .list li .box .banner img {margin:1px 0 0 1px;width:254px;height:73px;}
.event .eventList .list li .box .banner .pngBg {position:absolute;top:1px;left:1px;width:40px;height:40px;text-indent:-10000px;background:url('http://file.bugsm.co.kr/nbugs/event/index/ic_hot.png') no-repeat}
.event .eventList .list li .box dt {display:inline-block;height:20px;width:245px;color:#FF6600;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.event .eventList .list li .box dt a {font-weight:bold;font-size:14px;color:#f60;letter-spacing:-1px;}
.event .eventList .list li .box dd {overflow:hidden;*margin-bottom:1px;color:#a4a4a6;word-spacing:-2px;}
.event .eventList .list li .box dd.dsc {padding-bottom:5px;color:#54575a;letter-spacing:-1px;word-spacing:0;background:none;}
.event .eventList .list li .box dd.dsc span {display:block;width:250px;height:16px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.event .eventList .list li .box dd em {float:left;display:block;width:35px;_width:32px;height:16px;margin-bottom:1px;vertical-align:top;text-indent:-100000px;background:url('http://file.bugsm.co.kr/nbugs/event/index/ic_list.gif') no-repeat}
.event .eventList .list li .box dd.date em {background-position:0 0;}
.event .eventList .list li .box dd.prize em {background-position:0 -17px;}
.event .eventList .list li .box dd.gift em {background-position:0 -34px;}
.event .eventList .pagination {position:relative;width:100%;height:50px;margin-top:-16px;padding-top:35px;background-color:#fff;z-index:2;}

.eventIng .topEvent {width:794px;height:264px;background:url('http://file.bugsm.co.kr/nbugs/event/index/bg_topEvent.gif') no-repeat;}
.eventIng .topEvent .rolling {float:left;padding:4px 0 0 4px;width:534px;_width:532px;}
.eventIng .topEvent .rolling .img {width:521px;height:231px;}
.eventIng .topEvent .rolling .number {position:relative;margin-top:-19px;margin-left:444px;z-index:2;zoom:1;}
.eventIng .topEvent .rolling .number span {float:left;cursor:pointer;display:block;width:14px;height:14px;text-indent:-10000px;background-image:url('http://file.bugsm.co.kr/nbugs/event/index/ic_rolling2.png');background-position:0 -50px;background-repeat:no-repeat;}
.eventIng .topEvent .rolling .number .active {background-position:0 0;}
.msie6 .eventIng .topEvent .rolling .number span {background-image:url('http://file.bugsm.co.kr/nbugs/event/index/ic_rolling.gif');}

.eventIng .topEvent .hotLink {float:left;width:243px;height:134px;}
.eventIng .topEvent .hotLink dt {height:22px;margin-top:19px;text-indent:-10000px;background:url('http://file.bugsm.co.kr/nbugs/event/index/i_txt.gif') no-repeat;}
.eventIng .topEvent .hotLink dd {display:inline-block;float:left;overflow:hidden;height:20px;width:235px;margin-bottom:4px;padding:0 0 0 11px;color:#bfbfbf;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap;background:url('http://file.bugsm.co.kr/nbugs/event/index/lh_1.png') 0 100% no-repeat;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.eventIng .topEvent .hotLink dd a {color:#bfbfbf;}
.eventIng .topEvent .hotLink dd.last {height:16px;background-position:0 3px;}
.eventIng .topEvent .sBanner img {width:243px;height:92px;}
.eventIng .eventList {position:relative;}
.eventIng .eventList h4 {width:250px;height:25px;text-indent:-10000px;background:url('http://file.bugsm.co.kr/nbugs/event/index/i_txtList.gif') no-repeat;}
.eventIng .eventList h4, x:-moz-any-link, x:default {height:40px;}
.eventIng .eventList .sorting {position:absolute;top:-5px;right:-1px;width:96px;padding:1px;z-index:2;}
.eventIng .eventList .sorting strong {display:block;cursor:pointer;height:20px;color:#888;font-weight:normal;font-size:11px;color:#7e7f80;letter-spacing:-1px;line-height:20px;text-indent:8px;background:url('http://file.bugsm.co.kr/nbugs/event/index/bg_sorting.gif') no-repeat;}
.eventIng .eventList .sorting ul {display:none;width:94px;padding:0 1px;}
.eventIng .eventList .sorting li a {display:block;height:20px;width:100%;padding-top:1px;font-size:11px;color:#888;letter-spacing:-1px;line-height:20px;text-indent:8px;}
.eventIng .eventList .sorting li a:hover {text-decoration:none;background-color:#eee;}
.eventIng .eventList .sortingListOpen {background:url('http://file.bugsm.co.kr/nbugs/event/index/bg_sorting.gif') no-repeat 1px 100%;}
.eventIng .eventList .sortingListOpen ul {display:block;}
.eventIng #showcase {margin-bottom:30px;}
.eventIng #showcase span {display:block;}
.eventIng #showcase .descText {display:none;}
.eventIng .comment h3 {height:24px;line-height:14px;background:url('http://file.bugsm.co.kr/nbugs/event/index/i_txt.gif') 0 -550px no-repeat;}
.eventIng .comment .commentList .text {width:564px;*padding-bottom:0;_padding-bottom:0;}

/*prizeWinner list-view 공통*/
.prizeWinner .list {clear:both;}
.prizeWinner .list table {width:100%;border-collapse:collapse;border-spacing:0;}
.prizeWinner .list table thead th {height:26px;text-align:center;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background:#f7f7f7;}
.prizeWinner .list table thead th span {display:block;height:11px;margin:0 auto;text-indent:-10000px;background-image:url('http://file.bugsm.co.kr/nbugs/event/index/i_txt.gif');background-repeat:no-repeat;}
.prizeWinner .list table thead th.tNum span {width:19px;background-position:0 -250px;}
.prizeWinner .list table thead th.tSubject span {width:19px;background-position:0 -300px;}
.prizeWinner .list table thead th.tDate span {width:19px;background-position:0 -350px;}
.prizeWinner .list table thead th.tHit span {width:28px;background-position:0 -400px;}
.prizeWinner .list table tbody td {height:33px;color:#54575a;line-height:33px;text-align:center;vertical-align:middle;border-bottom:1px solid #e0e0e0;}
.prizeWinner .list table tbody td.tNum {}
.prizeWinner .list table tbody td.tSubject {padding-left:4px;text-align:left;letter-spacing:-1px;}
.prizeWinner .list table tbody td.tDate {font-size:11px;color:#adaeb2;}
.prizeWinner .list table tbody td.tHit {font-size:11px;color:#adaeb2;}

.prizeWinner .winList {border-top:1px solid #eaeaea;}
.prizeWinner .winList .radioSelect {float:left;height:30px;margin-top:17px;margin-left:15px;}
.prizeWinner .winList .radioSelect label {display:inline-block;width:32px;height:14px;text-indent:-100000px;background-image:url('http://file.bugsm.co.kr/nbugs/event/index/i_txt.gif');background-repeat:no-repeat;}
.prizeWinner .winList .radioSelect label.rs1 {background-position:0 -48px;}
.prizeWinner .winList .radioSelect label.rs2 {background-position:0 -98px;}
.prizeWinner .winList .radioSelect label.rs3 {background-position:0 -148px;}
.prizeWinner .winList .radioSelect label.rs4 {background-position:0 -198px;}
.prizeWinner .winList .radioSelect label.rs5 {width:42px;background-position:0 -598px;}
.prizeWinner .winList .radioSelect label.rs6 {width:52px;background-position:0 -648px;}
.prizeWinner .winList .radioSelect label.rs1on {background-position:-100px -48px;}
.prizeWinner .winList .radioSelect label.rs2on {background-position:-100px -98px;}
.prizeWinner .winList .radioSelect label.rs3on {background-position:-100px -148px;}
.prizeWinner .winList .radioSelect label.rs4on {background-position:-100px -198px;}
.prizeWinner .winList .radioSelect label.rs5on {width:42px;background-position:-100px -598px;}
.prizeWinner .winList .radioSelect label.rs6on {width:52px;background-position:-100px -648px;}
.prizeWinner .winList .search {float:right;width:182px;height:25px;margin-top:11px;background:url('http://file.bugsm.co.kr/nbugs/event/index/i_search.gif') 0 0 no-repeat;}
.prizeWinner .winList .search .inputTxt {float:left;width:136px;height:23px;margin:1px 0 0 9px;font-size:11px;color:#979899;letter-spacing:-1px;line-height:22px;border:none;background:none;}
.prizeWinner .winList .search .inputBtn {float:right;width:37px;height:25px;text-indent:-100000px;border:none;background:none;}
.prizeWinner .winList .list table tbody .over td {background:#f9f9fa;}

.prizeWinner .winDetail .list table tbody td.tCont {width:100%;padding:30px 15px;line-height:18px;text-align:left;border-bottom:none;}
.prizeWinner .winDetail .list table tbody td.tWinner {text-align:center;padding-bottom:40px;}
	.prizeWinner .winDetail .list td.tWinner table {margin:0 auto;width:762px;border:1px solid #e0e0e0;}
	.prizeWinner .winDetail .list td.tWinner table caption {height:20px;font-weight:bold;text-align:left;}	
	.prizeWinner .winDetail .list td.tWinner th {text-align:center;border:1px solid #e0e0e0;}
	.prizeWinner .winDetail .list td.tWinner thead th.tGift span {width:19px;background-position:0 -450px;}
	.prizeWinner .winDetail .list td.tWinner thead th.tUser span {width:45px;background-position:0 -500px;}
	.prizeWinner .winDetail .list td.tWinner tbody th {text-align:center;}
	.prizeWinner .winDetail .list td.tWinner tbody th,
	.prizeWinner .winDetail .list td.tWinner tbody td {padding:20px;color:#54575a;line-height:17px;}
	.prizeWinner .winDetail .list td.tWinner tbody td {text-align:left;border:1px solid #e0e0e0;}
	.prizeWinner .winDetail .list td.tWinner tbody td strong {color:#f60;}	
.prizeWinner .winDetail .list .btnArea {padding-top:20px;text-align:center;}


.buyRecommend .discount {position:relative;z-index:1;}
.buyRecommend .discount.new2015 {height:245px;width:964px;margin:22px 0 35px;background:url('http://file.bugsm.co.kr/nbugs/banner/help/bn_supersaleV20150316.png') no-repeat;}
.buyRecommend .discount.new2015 a {display:block;position:absolute;top:75px;left:482px;height:105px;width:105px;text-indent:-1000em}

.buyRecommend .bannerSet {position:relative;height:58px;width:964px;background-image:url('http://file.bugsm.co.kr/nbugs/banner/help/bn_shinhanSale.gif');background-repeat:no-repeat;}
.buyRecommend .bannerSet .cashback a.link {display:block;position:absolute;top:16px;right:1px;overflow:hidden;height:26px;width:68px;text-indent:-1000em;}
.layerCashback.layerDefine * {font-size:12px;color:#303030;letter-spacing:0;line-height:16px;}
.layerCashback.layerDefine .content .title {color:#ff3d33;}
.layerCashback.layerDefine .content .desc li {margin-bottom:2px;padding-left:7px;background-image:url('http://file.bugsm.co.kr/nbugs/common/bu.gif');background-repeat:no-repeat;background-position:0 -34px;}
.layerCashback.layerDefine .content .desc li span {display:block;line-height:14px;}
.buyRecommend .bannerSet .freedownload a.link {display:block;position:absolute;top:56px;right:92px;overflow:hidden;height:26px;width:68px;text-indent:-1000em;}
.buyRecommend .recommendPass .basic .btnBuy,
.buyRecommend .recommendPass .aio .btnBuy {top:288px;}


/* 이벤트 배너 */
.comment .eventBanner {position:relative;height:130px;width:794px;margin:0 0 20px;z-index:100;}
.comment .eventBanner button {position:absolute;cursor:pointer;top:25px;right:15px;height:80px;width:150px;text-indent:-1000em;background-color:transparent;}
.recommend .eventBanner {position:relative;margin:0 0 30px;}
.recommend .eventBanner button {position:absolute;cursor:pointer;top:0;left:0;height:100%;width:100%;text-indent:-1000em;background-color:transparent;}

/* nextbugs - 랜딩 */
#nextbugs.pgLanding {width:900px;margin:0 auto;padding-top:47px;}
#nextbugs.pgLanding h1 {height:36px;width:86px;margin-bottom:18px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs//mobile/webview/bugsV4/i_landingRadioPC.png') 0 0 no-repeat;}
#nextbugs.pgLanding .install {overflow:hidden;height:365px;background:url('http://file.bugsm.co.kr/nbugs//mobile/webview/bugsV4/i_landingRadioPC.png') 0 -50px no-repeat;}
#nextbugs.pgLanding .install .android {display:inline;float:left;width:321px;margin:228px 0 0 65px;}
#nextbugs.pgLanding .install .ios {display:inline;float:right;width:367px;margin:228px 86px 0 0;}
#nextbugs.pgLanding .install a {display:block;float:left;height:105px;text-indent:-1000em;}
#nextbugs.pgLanding .install .android a {width:216px;}
#nextbugs.pgLanding .install .ios a {width:262px;}
#nextbugs.pgLanding .install img {float:right;padding:2px;}
#nextbugs.pgLanding .info {height:435px;background:url('http://file.bugsm.co.kr/nbugs//mobile/webview/bugsV4/i_landingRadioPC.png') 0 -440px no-repeat;}
#nextbugs.pgLanding strong,
#nextbugs.pgLanding span {position:absolute;top:0;left:0;overflow:hidden;height:0;width:0;font-size:0;line-height:0;}

/* 오늘의 추천명반 - 무료다운 */
.recomAlbumEvent {position:relative;margin:-8px 0 20px;background-color:#383838;}
.recomAlbumEvent > span {position:absolute;top:13px;right:15px;height:17px;width:189px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recom.png') 0 -440px no-repeat;}
.recomAlbumEvent > em {position:absolute;top:12px;right:3px;padding:0 5px;font-size:11px;font-weight:normal;color:#7d8588;line-height:20px;}
.recommendPdAlbum .recomAlbumEvent h4 {display:block;height:43px;padding-left:34px;font-size:14px;font-weight:bold;color:#fff;line-height:43px;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recom.png') 12px 13px no-repeat;}
.recomAlbumEvent.recomAlbumSet {padding:0;}
.recomAlbumEvent.recomAlbumSet .albumBox {overflow:hidden;min-height:176px;height:auto;border-top:1px solid #4C4C4C;border-bottom:1px solid #4C4C4C;background-color:#383838;}
.recomAlbumEvent.recomAlbumSet .albumBox > strong {display:block;margin-bottom:-27px;padding:1px 29px 0;font-size:16px;color:#f9c15e;line-height:64px;}
.recomAlbumEvent.recomAlbumSet .albumBox .thumbnail {background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recom.png') 0 -50px no-repeat;}
.recomAlbumEvent.recomAlbumSet .albumBox .albumInfo {margin-bottom:0;}
.recomAlbumEvent.recomAlbumSet .albumBox .albumInfo dt a {color:#FFF;}
.recomAlbumEvent.recomAlbumSet .albumBox .albumInfo dd a {color:#9C9C9C;}
.recomAlbumEvent.recomAlbumSet .albumBox .albumInfo dd.review {margin-bottom:19px;padding:0;color:#9C9C9C;}
.recomAlbumEvent.recomAlbumSet .review .toggle {font-size:11px;color:#7d8588;letter-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recom.png') no-repeat;}
.recomAlbumEvent.recomAlbumSet .review .toggle.btnMore {background-position:100% -182px;}
.recomAlbumEvent.recomAlbumSet .review .toggle.btnClose {background-position:100% -382px;}
.recomAlbumEvent .trackinfo {overflow:hidden;height:59px;}
.recomAlbumEvent .trackinfo dt {float:left;overflow:hidden;height:20px;width:61px;margin:18px 0 0 28px;padding-top:2px;color:#000;line-height:20px;text-indent:11px;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recomV20150326.png') 0 -240px no-repeat;}
.recomAlbumEvent .trackinfo dd {float:left;margin:11px 0 0 13px;}
.recomAlbumEvent .trackinfo dd:last-of-type {float:right;margin:17px 28px 0 0;}
.recomAlbumEvent .trackinfo .ellipsis {display:block;width:517px;padding-left:19px;color:#FFF;line-height:18px;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recomV20150326.png') 0 -288px no-repeat;}
.recomAlbumEvent .trackinfo .btn {display:block;height:25px;width:81px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/event/2014/201411Recom/i_recomV20150326.png') 0 -340px no-repeat;}


