@charset "UTF-8";

/* 기존 리스트의 속성을 가져다 쓰는 것들을 위해 */
.list * {line-height:16px;}
.list:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
.list .icon {display:inline-block;margin:0 0 0 5px;padding:0;vertical-align:top;}
.list .icon a,
.list .icon span {display:block;float:left;overflow:hidden;height:14px;width:14px;margin:0 3px 0 0;text-indent:-1000em;background-image:url('http://file.bugsm.co.kr/nbugs/common/ic.gif');background-repeat:no-repeat;}
.list .icon .ic19 {background-position:0 -480px;}
.list .icon .icHoldback {height:15px;width:16px;background-position:0 -4382px;}
.list .icon .icLocal {height:14px;width:11px;background-position:0 -4500px;}

/* .listBtns .listTab:after {content: ".";visibility:hidden;display:block;clear:both;height:0;} */
.listWrap {position:relative;}
.listBtns {position:relative;overflow:hidden;height:32px;width:100%;border:1px solid #e0dbda;border-width:1px 0;background-color:#F7F7F7;z-index:10;}
.listBtns.positionBtm {top:-1px;}
/*
.listBtns .check {display:inline;float:left;margin:7px 8px 0;}
.listBtns .check .checkbox {display:block;cursor:pointer;height:17px;width:17px;background:url('http://file.bugsm.co.kr/nbugs/common/ic_checkbox.gif') no-repeat 0 -80px;}
.listBtns .check.click .checkbox {background:url('http://file.bugsm.co.kr/nbugs/common/ic_checkbox.gif') no-repeat 0 -120px;}
.listBtns .check .checkbox input {display:none;}
*/
.listBtns .check {display:block;float:left;margin:10px 9px 0 10px;cursor:pointer;height:14px;width:14px;}
.listBtns .check .checkbox {padding:0;margin:0;}
	.msie .listBtns .check {margin:9px 10px 0 10px;}


.listBtns .btns {float:left;margin:5px 0 0;}
.listBtns .flacGuide {float:right;margin:4px 8px 0;}

.listTab {position:absolute;right:0;height:32px;margin-top:1px;white-space:nowrap;z-index:11;}
.listTab a {display:inline-block;padding:0 7px 0 6px;font-size:11px;color:#8c8c8c;line-height:32px;word-spacing:-1px;}
.listTab a.selected {color:#1a1a1a;}
.listTab span {display:inline-block;font-size:10px;color:#e0dbda;line-height:32px;}

.playBtns {display:inline;position:relative;top:50%;float:left;width:58px;margin:-11px 0 0 33px;}
	.msie .playBtns {margin:-11px 0 0 34px;}
.playBtns a,
.playBtns span {display:inline-block;height:22px;width:22px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_button.png') no-repeat;}
.playBtns a span,
.playBtns span span {display:none;}
.playBtns a.btnPlay {background-position:0 -100px;}
.playBtns a.btnPlay:hover {background-position:-100px -100px;}
.playBtns span.btnPlay {background-position:-200px -100px;}
.playBtns a.btnAddPlaylist {background-position:0 -150px;}
.playBtns a.btnAddPlaylist:hover {background-position:-100px -150px;}
.playBtns span.btnAddPlaylist {background-position:-200px -150px;}

.rating {float:left;display:inline-block;/*position:absolute;top:50%;right:260px;*/margin:4px 10px 0 0;height:12px;width:60px;vertical-align:top;}
.rating .stateBG,
.rating .stateBar {display:block;height:12px;padding:0;margin:0;background:url('http://file.bugsm.co.kr/nbugs/common/ic_star.png') no-repeat;}
.rating .stateBG {position:relative;width:60px;background-position:0 0;}
.rating .stateBar {position:absolute;top:0;left:0;background-position:0 -15px;}
.rating .stateBar strong {display:none;}

.downloadBtns {position:absolute;top:50%;right:7px;clear:both;margin:-10px 0 0;text-align:right;}
.downloadBtns a,
.downloadBtns span {display:inline-block;height:20px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_buttonV20141030.gif') no-repeat;}
.downloadBtns a span,
.downloadBtns span span {display:none;}
.downloadBtns a.btnDownOriginal {width:47px;background-position:-130px 0;}
.downloadBtns a.btnDownload {width:47px;background-position:-30px 0;}
.downloadBtns span.btnDownload {width:47px;background-position:-80px 0;}
.downloadBtns a.btnDown {width:69px;background-position:-484px -60px;}
.downloadBtns a.btnDownFree {width:47px;background-position:-180px 0;}
.downloadBtns a.btnDownDRM {width:47px;background-position:-230px 0;}
.downloadBtns a.btnDownFullHD {width:69px;background-position:-280px 0;}
.downloadBtns span.btnDownFullHD {width:69px;background-position:-350px 0;}
.downloadBtns a.btnDownHD {width:69px;background-position:-560px 0;}
.downloadBtns span.btnDownHD {width:69px;background-position:-630px 0;}
.downloadBtns a.btnDownMV {width:69px;background-position:-420px 0;}
.downloadBtns span.btnDownMV {width:69px;background-position:-490px 0;}
.downloadBtns a.btnAddMyalbum {width:29px;background-position:0 -30px;}
.downloadBtns span.btnAddMyalbum {width:29px;background-position:-30px -30px;}
.downloadBtns a.btnMV {width:30px;background-position:-60px -30px;}
.downloadBtns span.btnMV {width:30px;background-position:-100px -30px;}
.downloadBtns a.btnListenAlbum {width:51px;background-position:-140px -30px;}
.downloadBtns a.btnDownAlbum {width:51px;background-position:0 -60px;}
.downloadBtns a.btnDownSong {width:63px;background-position:-61px -60px;}
.downloadBtns a.btnTrackInfo {width:40px;background-position:-260px -30px;}
.downloadBtns a.btnRadio {width:40px;background-position:-450px -30px;}
.downloadBtns span.btnRadio {width:40px;background-position:-500px -30px;}
.downloadBtns a.btnDownMP3 {width:50px;background-position:-298px -60px;}
.downloadBtns span.btnDownMP3 {width:50px;background-position:-349px -60px;}
.downloadBtns a.btnDownFlac16bit {width:65px;background-position:-134px -60px;}
.downloadBtns a.btnDownFlac24bit {width:67px;background-position:-409px -60px;}
.downloadBtns a.btnDownFlacAll {width:79px;background-position:-209px -60px;}

.list a.trackIcon,
.list span.trackIcon,
.trackIcon {float:left;height:18px;margin:0 4px 0 0;background-image:url('http://file.bugsm.co.kr/nbugs/common/new/ic.png');background-repeat:no-repeat;}
.list .trackIcon span,
.trackIcon span {display:none;}
.trackIcon.icLyrics {width:12px;background-position:0 0;}
.list .trackIcon.icAdult,
.trackIcon.icAdult {width:15px;background-position:-25px 0;}
.trackIcon.icTitle {width:31px;background-position:-50px 1px;}
	.msie6 .icon span.trackIcon.icTitle {width:31px;}
.list .trackIcon.icRatingAll,
.trackIcon.icRatingAll {width:27px;background-position:-120px 0;}
.list .trackIcon.icRating12,
.trackIcon.icRating12 {width:15px;background-position:-150px 0;}
.list .trackIcon.icRating15,
.trackIcon.icRating15 {width:15px;background-position:-170px 0;}
.list .trackIcon.icRating19,
.trackIcon.icRating19 {width:15px;background-position:-25px 0;}
/*
.trackIcon.icRating19 {width:28px;background-position:-90px 0;}
*/
.list .trackIcon.icHoldback,
.trackIcon.icHoldback {width:16px;background-position:0 -30px;}

.commonList {position:relative;clear:both;width:100%;z-index:9;}
.commonList:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
.commonList .ellipsis {overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;}
.commonList .listRow {position:relative;float:left;width:100%;border-bottom:1px solid #f0eae9;z-index:1;}
.commonList .listRow:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
.commonList .listRow.rowSelect {background-color:#f7f7f7;}
/*
.commonList span.check {position:absolute;top:50%;left:0;margin:-9px 8px 0;}
.commonList span.check .checkbox {display:block;cursor:pointer;height:17px;width:17px;background:url('http://file.bugsm.co.kr/nbugs/common/ic_checkbox.gif') no-repeat 0 -80px;}
.commonList span.check .checkbox input {display:none;}
.commonList span.check.click .checkbox {background:url('http://file.bugsm.co.kr/nbugs/common/ic_checkbox.gif') no-repeat 0 -120px;}
*/
.commonList span.check {position:absolute;top:50%;left:0;display:block;cursor:pointer;margin:-7px 8px 0 10px;height:14px;width:14px;}
.commonList span.check .checkbox {padding:0;margin:0;}
	.msie .commonList span.check {margin:-7px 10px 0 10px;}
	
.commonList .trackInfo {display:inline;position:relative;top:50%;float:left;width:57%;}
.commonList .trackInfo * {line-height:19px;}
.commonList .trackInfo dt {overflow:hidden;height:19px;white-space:nowrap;}
.commonList .trackInfo dd {float:left;max-width:50%;overflow:hidden;height:19px;color:#CCC;white-space:nowrap;text-overflow:ellipsis;}
.commonList .trackInfo dd:only-of-type {max-width:100%;}
.commonList .trackInfo .tracktitle {display:inline-block;overflow:hidden;max-width:86.5%;font-weight:bold;color:#333;vertical-align:top;text-overflow:ellipsis;white-space:nowrap;}
.commonList .trackInfo span.tracktitle {color:#D9D9D9;}
.commonList .trackInfo .artistname {padding-right:4px;color:#666;}
.commonList .trackInfo .albumtitle {padding-right:1px;color:#666;}
.commonList .albumInfo {display:inline;float:left;width:68%;}
.commonList .albumInfo * {line-height:19px;}
.commonList .albumInfo dt,
.commonList .albumInfo dd {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.commonList .albumInfo dd {position:relative;overflow:hidden;width:100%;}
.commonList .albumInfo .tracktitle {display:inline-block;overflow:hidden;float:left;height:20px;max-width:78.5%;margin:2px 4px 1px 0;padding-left:23px;color:#333;line-height:20px;vertical-align:top;text-overflow:ellipsis;white-space:nowrap;}
.commonList .albumInfo span.tracktitle {color:#D9D9D9;}
.commonList .albumInfo dd .trackIcon {margin-top:3px;}
.commonList .albumInfo .title span.btnPlay {position:absolute;top:2px;left:0;height:20px;width:23px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_button.png') no-repeat 0 -50px;}
	.msie6 .commonList .albumInfo .title span.btnPlay {background-image:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_play.gif');}
.commonList .albumInfo a.title:hover span.btnPlay {background-position:-100px -50px;}
.commonList .albumInfo span.title span.btnPlay {background-position:-200px -50px;}
.commonList .albumInfo dd.artistname {overflow:hidden;width:100%;text-overflow:ellipsis;}
.commonList .albumInfo .artistname {color:#666;word-spacing:-1px;}
.commonList .albumInfo .albumtitle {font-weight:bold;color:#333;}
.commonList .albumInfo .date {font-size:11px;color:#999;}
.commonList .albumInfo .date span {display:inline-block;font-size:10px;color:#e0dbda;line-height:19px;}
.commonList .icon {display:inline-block;margin:0 0 0 3px;padding-top:2px;vertical-align:top;}
.commonList .thumbnail {position:relative;text-align:center;border:1px solid #f0eae9;}
.commonList .thumbnail img {max-height:100%;max-width:100%;}
.commonList .thumbnail img,
.commonList .thumbnail .thumbnailValign {vertical-align:middle;}
.commonList .thumbnail .icSoundQuality {position:absolute;top:2px;right:-4px;}
	.msie7 .commonList .thumbnail .icSoundQuality {top:0;}
.trackList .listRow {height:52px;}
.trackList .trackInfo {margin:-19px 10px 0 0;}
.trackList .trackInfo dt {font-weight:bold;}
.trackList .trackInfo a.tracktitle {color:#333;}
.trackList .layerMenuMV {top:26px;right:-25px;}

.trackAlbumList .listRow {height:35px;}
.trackAlbumList .trackInfo {margin:-9px 0 0;}
.trackAlbumList .trackInfo dt {float:left;width:55.5%;margin:0 2% 0 0;}
.trackAlbumList .trackInfo .tracktitle {font-weight:normal;color:#54575A;}
.trackAlbumList .trackInfo span.tracktitle {color:#D9D9D9;}
.trackAlbumList .trackInfo .title,
.trackAlbumList .trackInfo span.title {font-weight:bold;}
.trackAlbumList .trackInfo dd {width:42.2%;}
.trackAlbumList .trackInfo dd .albumtitle {color:#F60;}
.trackClassicList dt strong {display:block;padding:7px 0 0 18px;color:#333;line-height:26px;background:url('http://file.bugsm.co.kr/nbugs/common/new/bu.gif') no-repeat 8px -132px;}
.trackAlbumList .descStar {text-align:right;}
	
.musicvideoList .listRow {padding:15px 0;}
.musicvideoList span.check {top:16px;margin-top:0;}
	.msie .musicvideoList span.check {margin-top:0}
.musicvideoList .thumbnail {display:inline;position:relative;float:left;overflow:hidden;height:101px;width:135px;margin:0 15px 0 33px;}
.musicvideoList .thumbnail a {display:block;height:100%;}
.musicvideoList .thumbnail span {display:block;height:100%;}
.musicvideoList .thumbnail .time {position:absolute;top:80px;left:0;height:22px;width:129px;padding:0 6px 0 0;font-family:tahoma;font-size:11px;color:#d2d0ce;line-height:22px;text-align:right;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_mvTime.png') repeat-x;}
.musicvideoList .thumbnail a:hover .time {text-decoration:none;} 
.musicvideoList .thumbnail .btnPlayMV {display:block;position:absolute;top:83px;left:3px;}
.musicvideoList .thumbnail .btnPlayMV span {display:block;overflow:hidden;height:18px;width:18px;text-indent:-1000em;background-image:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_button.png');}
.musicvideoList .thumbnail a .btnPlayMV span {background-position:0 -200px;}
.musicvideoList .thumbnail a:hover .btnPlayMV span {background-position:-100px -200px;}
.musicvideoList .thumbnail span .btnPlayMV span {background-position:-200px -200px;}
.musicvideoList .thumbnail .thumbnailValign {display:inline-block;}
.musicvideoList .trackInfo {position:static;margin:1px 0 7px;}
.musicvideoList .trackInfo dt {font-weight:bold;color:#333;}
.musicvideoList .desc {float:left;width:765px;padding:10px 9px 0 0;line-height:19px;word-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/new/lhd.gif') repeat-x;}
.musicvideoList .downloadBtns {top:19px;margin:0;}

.adMusicList .listRow {padding:15px 0;}
.adMusicList span.check {top:15px;margin-top:0;}
.adMusicList .thumbnail {display:inline;float:left;height:108px;width:108px;margin:0 70px 0 33px;}
.adMusicList .thumbnail img,
.adMusicList .thumbnail .thumbnailValign {line-height:108px;}
.adMusicList .playBtns {top:6px;margin:0 0 0 -58px;}
.adMusicList .downloadBtns {top:21px;margin:0;}
.adMusicList .trackInfo {top:1px;width:620px;margin:0 0 7px;}
.adMusicList .trackInfo dt a {font-weight:bold;color:#333;}
.adMusicList .adInfo {float:left;width:742px;padding:10px 9px 0 0;background:url('http://file.bugsm.co.kr/nbugs/common/new/lhd.gif') repeat-x;}
.adMusicList .adInfo dt {margin:0 0 2px;color:#000;line-height:19px;word-spacing:-1px;}
.adMusicList .adInfo dd {color:#808080;line-height:17px;word-spacing:-1px;}

.albumList {background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_albumList.gif') repeat;}
.albumList .listRow {float:left;height:126px;width:50%;padding:15px 0 0;border:0;}
.albumList .thumbnail {float:left;height:108px;width:108px;margin:0 15px 0 0;}
.albumList .thumbnail .albumImg{display:block;overflow:hidden;height:108px;width:108px;}
.albumList .thumbnail img,
.albumList .thumbnail .thumbnailValign {line-height:108px;}
.albumList .downloadBtns {top:104px;left:125px;margin:0;text-align:left;}

/* chart */
/* .chartList .trackInfo {width:710px;} */
.chartList .ranking {display:inline;position:relative;float:left;overflow:hidden;width:83px;}
.chartList .ranking .number {float:left;height:20px;width:36px;text-indent:-1000em;background-image:url('http://file.bugsm.co.kr/nbugs/common/new/bg_list.png');background-repeat:no-repeat;}
.chartList .ranking .num100Over {font:bold 17px/18px tahoma;color:#515151;letter-spacing:-1px;text-indent:0;text-align:center;background-image:none;}
.chartList .ranking .num1 {background-position:0 -100px;}
.chartList .ranking .num2 {background-position:0 -120px;}
.chartList .ranking .num3 {background-position:0 -140px;}
.chartList .ranking .num4 {background-position:0 -160px;}
.chartList .ranking .num5 {background-position:0 -180px;}
.chartList .ranking .num6 {background-position:0 -200px;}
.chartList .ranking .num7 {background-position:0 -220px;}
.chartList .ranking .num8 {background-position:0 -240px;}
.chartList .ranking .num9 {background-position:0 -260px;}
.chartList .ranking .num10 {background-position:0 -280px;}
.chartList .ranking .num11 {background-position:0 -300px;}
.chartList .ranking .num12 {background-position:0 -320px;}
.chartList .ranking .num13 {background-position:0 -340px;}
.chartList .ranking .num14 {background-position:0 -360px;}
.chartList .ranking .num15 {background-position:0 -380px;}
.chartList .ranking .num16 {background-position:0 -400px;}
.chartList .ranking .num17 {background-position:0 -420px;}
.chartList .ranking .num18 {background-position:0 -440px;}
.chartList .ranking .num19 {background-position:0 -460px;}
.chartList .ranking .num20 {background-position:0 -480px;}
.chartList .ranking .num21 {background-position:0 -500px;}
.chartList .ranking .num22 {background-position:0 -520px;}
.chartList .ranking .num23 {background-position:0 -540px;}
.chartList .ranking .num24 {background-position:0 -560px;}
.chartList .ranking .num25 {background-position:0 -580px;}
.chartList .ranking .num26 {background-position:-50px -100px;}
.chartList .ranking .num27 {background-position:-50px -120px;}
.chartList .ranking .num28 {background-position:-50px -140px;}
.chartList .ranking .num29 {background-position:-50px -160px;}
.chartList .ranking .num30 {background-position:-50px -180px;}
.chartList .ranking .num31 {background-position:-50px -200px;}
.chartList .ranking .num32 {background-position:-50px -220px;}
.chartList .ranking .num33 {background-position:-50px -240px;}
.chartList .ranking .num34 {background-position:-50px -260px;}
.chartList .ranking .num35 {background-position:-50px -280px;}
.chartList .ranking .num36 {background-position:-50px -300px;}
.chartList .ranking .num37 {background-position:-50px -320px;}
.chartList .ranking .num38 {background-position:-50px -340px;}
.chartList .ranking .num39 {background-position:-50px -360px;}
.chartList .ranking .num40 {background-position:-50px -380px;}
.chartList .ranking .num41 {background-position:-50px -400px;}
.chartList .ranking .num42 {background-position:-50px -420px;}
.chartList .ranking .num43 {background-position:-50px -440px;}
.chartList .ranking .num44 {background-position:-50px -460px;}
.chartList .ranking .num45 {background-position:-50px -480px;}
.chartList .ranking .num46 {background-position:-50px -500px;}
.chartList .ranking .num47 {background-position:-50px -520px;}
.chartList .ranking .num48 {background-position:-50px -540px;}
.chartList .ranking .num49 {background-position:-50px -560px;}
.chartList .ranking .num50 {background-position:-50px -580px;}
.chartList .ranking .num51 {background-position:-100px -100px;}
.chartList .ranking .num52 {background-position:-100px -120px;}
.chartList .ranking .num53 {background-position:-100px -140px;}
.chartList .ranking .num54 {background-position:-100px -160px;}
.chartList .ranking .num55 {background-position:-100px -180px;}
.chartList .ranking .num56 {background-position:-100px -200px;}
.chartList .ranking .num57 {background-position:-100px -220px;}
.chartList .ranking .num58 {background-position:-100px -240px;}
.chartList .ranking .num59 {background-position:-100px -260px;}
.chartList .ranking .num60 {background-position:-100px -280px;}
.chartList .ranking .num61 {background-position:-100px -300px;}
.chartList .ranking .num62 {background-position:-100px -320px;}
.chartList .ranking .num63 {background-position:-100px -340px;}
.chartList .ranking .num64 {background-position:-100px -360px;}
.chartList .ranking .num65 {background-position:-100px -380px;}
.chartList .ranking .num66 {background-position:-100px -400px;}
.chartList .ranking .num67 {background-position:-100px -420px;}
.chartList .ranking .num68 {background-position:-100px -440px;}
.chartList .ranking .num69 {background-position:-100px -460px;}
.chartList .ranking .num70 {background-position:-100px -480px;}
.chartList .ranking .num71 {background-position:-100px -500px;}
.chartList .ranking .num72 {background-position:-100px -520px;}
.chartList .ranking .num73 {background-position:-100px -540px;}
.chartList .ranking .num74 {background-position:-100px -560px;}
.chartList .ranking .num75 {background-position:-100px -580px;}
.chartList .ranking .num76 {background-position:-150px -100px;}
.chartList .ranking .num77 {background-position:-150px -120px;}
.chartList .ranking .num78 {background-position:-150px -140px;}
.chartList .ranking .num79 {background-position:-150px -160px;}
.chartList .ranking .num80 {background-position:-150px -180px;}
.chartList .ranking .num81 {background-position:-150px -200px;}
.chartList .ranking .num82 {background-position:-150px -220px;}
.chartList .ranking .num83 {background-position:-150px -240px;}
.chartList .ranking .num84 {background-position:-150px -260px;}
.chartList .ranking .num85 {background-position:-150px -280px;}
.chartList .ranking .num86 {background-position:-150px -300px;}
.chartList .ranking .num87 {background-position:-150px -320px;}
.chartList .ranking .num88 {background-position:-150px -340px;}
.chartList .ranking .num89 {background-position:-150px -360px;}
.chartList .ranking .num90 {background-position:-150px -380px;}
.chartList .ranking .num91 {background-position:-150px -400px;}
.chartList .ranking .num92 {background-position:-150px -420px;}
.chartList .ranking .num93 {background-position:-150px -440px;}
.chartList .ranking .num94 {background-position:-150px -460px;}
.chartList .ranking .num95 {background-position:-150px -480px;}
.chartList .ranking .num96 {background-position:-150px -500px;}
.chartList .ranking .num97 {background-position:-150px -520px;}
.chartList .ranking .num98 {background-position:-150px -540px;}
.chartList .ranking .num99 {background-position:-150px -560px;}
.chartList .ranking .num100 {background-position:-150px -580px;}
.chartList .ranking .updown {display:inline;float:left;height:20px;width:20px;margin-left:7px;padding-left:12px;font-family:tahoma;font-size:11px;line-height:18px;background-image:url('http://file.bugsm.co.kr/nbugs/common/new/ic.gif');background-repeat:no-repeat;}
.chartList .ranking .updown span {display:none;}
.chartList .ranking .up {background-position:0 -245px;}
.chartList .ranking .nochange {background-position:0 -293px;}
.chartList .ranking .down {background-position:0 -344px;}
.chartList .ranking .new {width:30px;margin-left:5px;padding-left:0;background-position:0 -394px;}
.chartList .ranking .hot {width:30px;margin-left:6px;padding-left:0;background-position:0 -444px;}
.chartList .ranking .re {width:30px;margin:0;padding:0;background-position:0 -497px;}
.chartList .ranking .duration {width:35px;padding:1px 0 0 1px;font-family:Dotum, '돋움', 'Apple SD Gothic Neo', AppleGothic, Sans-serif,Meiryo,'メイリオ','MS Gothic';font-size:11px;font-weight:bold;word-spacing:-1px;background:none;}
.chartList .thumbnail {display:inline;float:left;}

.chartTrackList li.listRow {height:72px;}
.chartTrackList .ranking {top:50%;margin:-10px 0 0 40px;}
.chartTrackList .recommend {display:inline;position:relative;top:50%;float:left;overflow:hidden;height:31px;width:77px;margin:-15px 0 0 46px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_list.png') no-repeat 0 0;}
.chartTrackList .thumbnail {height:60px;width:60px;margin:5px 10px 0 0;}
.chartTrackList .playBtns {margin-left:0;}
.chartTrackList .trackInfo {margin-top:-19px;}

.chartMusicvideoList .listRow {padding:15px 0;}
.chartMusicvideoList span.check {top:16px;margin-top:0;}
.chartMusicvideoList .ranking {top:2px;margin:0 0 0 40px;}
.chartMusicvideoList .thumbnail {position:relative;float:left;overflow:hidden;height:101px;width:135px;margin:0 15px 0 0;}
.chartMusicvideoList .thumbnail a {display:block;height:100%;}
.chartMusicvideoList .thumbnail a .time {position:absolute;top:80px;left:0;height:22px;width:129px;padding:0 6px 0 0;font-family:tahoma;font-size:11px;color:#d2d0ce;line-height:22px;text-align:right;background:url('http://file.bugsm.co.kr/nbugs/newMain/bg_mvTime.png') repeat-x;}
.chartMusicvideoList .thumbnail a:hover .time {text-decoration:none;} 
.chartMusicvideoList .thumbnail a .btnPlayMV {display:block;position:absolute;top:83px;left:3px;}
.chartMusicvideoList .thumbnail a .btnPlayMV span {display:block;overflow:hidden;height:18px;width:18px;text-indent:-1000em;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_button.png') no-repeat 0 -200px;}
.chartMusicvideoList .thumbnail a:hover .btnPlayMV span {background-position:-100px -200px;}
.chartMusicvideoList .trackInfo {position:static;margin:1px 0 7px;}
.chartMusicvideoList .trackInfo dt {font-weight:bold;color:#333;}
.chartMusicvideoList .desc {float:left;width:62.9%;padding:10px 9px 0 0;line-height:19px;word-spacing:-1px;background:url('http://file.bugsm.co.kr/nbugs/common/new/lhd.gif') repeat-x;}
.chartMusicvideoList .downloadBtns {top:19px;margin:0;}

.chartSaycastList {border-top:1px solid #e0e0e0;}
.chartSaycastList li.listRow {height:83px;}
.chartSaycastList .ranking {top:50%;margin:-10px 3px 0 0;}
.chartSaycastList .thumbnail {overflow:hidden;height:58px;width:58px;margin:11px 15px 0 0;}
.chartSaycastList .thumbnail img {max-height:100%;max-width:100%;}
.chartSaycastList .castInfo {float:left;width:500px;margin:12px 0 0;}
.chartSaycastList .castInfo * {line-height:20px;word-spacing:-1px;}
.chartSaycastList .castInfo dt a {font-weight:bold;color:#333;}
.chartSaycastList .castInfo dd.cjname,
.chartSaycastList .castInfo dd.cjname a {color:#333;}
.chartSaycastList .castInfo dd.nowplaying {overflow:hidden;color:#F60;text-overflow:ellipsis;white-space:nowrap;}
.chartSaycastList .castInfo dd.nowplaying a {color:#F60;}
.chartSaycastList .join {float:right;margin:33px 0 0;padding:0 15px 0 0;text-align:right;white-space:nowrap;}
.chartSaycastList .join span {display:block;color:#808080;line-height:20px;word-spacing:-1px;}
.chartSaycastList .join span a {color:#808080;}

.chartAlbumList {border-top:1px solid #e0e0e0;}
.chartAlbumList li.listRow {height:140px;}
.chartAlbumList .ranking {top:50%;margin:-10px 0 0 0;}
.chartAlbumList .thumbnail {float:left;height:108px;width:108px;margin:15px 15px 0 0;}
.chartAlbumList .thumbnail img,
.chartAlbumList .thumbnail .thumbnailValign {line-height:108px;}
.chartAlbumList .thumbnail .albumImg{display:block;overflow:hidden;height:108px;width:108px;}
.chartAlbumList .albumInfo {position:relative;top:50%;width:50%;margin-top:-40px;}


/* 각 페이지 최적화 */
.newNgenre .adMusicList .trackInfo {width:51.6%;}
.newNgenre .adMusicList .adInfo {width:71.6%;}
.newNgenre .musicvideoList .trackInfo {width:57%;}
.newNgenre .musicvideoList .trackInfo .tracktitle {max-width:88%;}
.newNgenre .musicvideoList .desc {width:74%;}
.newNgenre .album .listTab {position:static;float:right;}

.chart .chartTrackList .trackInfo,
.newNgenre .chartTrackList .trackInfo,
.genreTrot .chartTrackList .trackInfo,
.genreChildren .chartTrackList .trackInfo,
.pgMania .chartTrackList .trackInfo {width:36%;}
.chart .chartMusicvideoList .trackInfo {width:46%;}
.chart .chartMusicvideoList .trackInfo .tracktitle {max-width:85%;}

.musicAlbum .trackInfo {width:56%}
.musicAlbum .trackInfo .tracktitle {max-width:81%}
.musicAlbum .trackInfo.titleOnly dt {width:100%;}
.musicAlbum .trackInfo.titleOnly .tracktitle {max-width:89%}

/* 추천명반 적용후에는 삭제해도 됨 */
.recommend.pgPdAlbumDetail .pdAlbumTrack .trackList .trackInfo {width:57%;}

/* 개인화페이지용 버튼 */
.btnMoreAction a,
.btnMoreAction span {display:inline-block;height:20px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/b_buttonV20141030.gif') no-repeat;}
.btnMoreAction a span,
.btnMoreAction span span {display:none;}
.btnMoreAction a.btnDownOriginal {width:47px;background-position:-130px 0;}
.btnMoreAction a.btnDownload {width:29px;background-position:0 0;}
.btnMoreAction span.btnDownload {width:47px;background-position:-80px 0;}
.btnMoreAction a.btnDownFree {width:47px;background-position:-180px 0;}
.btnMoreAction a.btnDownDRM {width:47px;background-position:-230px 0;}
.btnMoreAction a.btnDownFullHD {width:69px;background-position:-280px 0;}
.btnMoreAction span.btnDownFullHD {width:69px;background-position:-350px 0;}
.btnMoreAction a.btnDownHD {width:69px;background-position:-560px 0;}
.btnMoreAction span.btnDownHD {width:69px;background-position:-630px 0;}
.btnMoreAction a.btnDownMV {width:69px;background-position:-420px 0;}
.btnMoreAction span.btnDownMV {width:69px;background-position:-490px 0;}
.btnMoreAction a.btnAddMyalbum {width:29px;background-position:0 -30px;}
.btnMoreAction span.btnAddMyalbum {width:29px;background-position:-30px -30px;}
.btnMoreAction a.btnMV {width:30px;background-position:-60px -30px;}
.btnMoreAction span.btnMV {width:30px;background-position:-100px -30px;}
.btnMoreAction a.btnListenAlbum {width:51px;background-position:-140px -30px;}
.btnMoreAction a.btnDownAlbum {width:51px;background-position:-200px -30px;}
.btnMoreAction a.btnDownSong {width:63px;background-position:-61px -60px;}
.btnMoreAction a.btnTrackInfo {width:40px;background-position:-260px -30px;}
.btnMoreAction a.btnRadio {width:40px;background-position:-450px -30px;}
.btnMoreAction span.btnRadio {width:40px;background-position:-500px -30px;}
.btnMoreAction a.btnDownMP3 {width:50px;background-position:-298px -60px;}
.btnMoreAction span.btnDownMP3 {width:50px;background-position:-349px -60px;}
.btnMoreAction a.btnDownFlac16bit {width:65px;background-position:-134px -60px;}
.btnMoreAction a.btnDownFlac24bit {width:67px;background-position:-409px -60px;}
.btnMoreAction a.btnDownFlacAll {width:79px;background-position:-209px -60px;}

/* 아래는 common.ftl 에 있는 디자인변경되는 레이어확인용 임시 CSS */ 
/* layerPopup
.layerPopup .layerBg {position:absolute;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layer.gif') no-repeat;z-index:1010;}
.layerPopup .bgTL {top:0;left:0;height:2px;width:50%;background-position:0 -100px;z-index:1011;}
.layerPopup .bgTR {top:0;right:0;height:2px;width:50%;background-position:100% -100px;z-index:1012;}
.layerPopup .bgTap {top:-4px;height:5px;width:9px;background-position:0 0;z-index:1013;}
.layerPopup .bgTapTL {left:20px;}
.layerPopup .bgTapTR {right:20px;}
.layerPopup .bgTapTC {left:50%;margin-left:-4px;}
*/

/* layerAlert
.layerAlert {position:absolute;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/new/bg_layer.gif') no-repeat 0 100%;z-index:1000;}
.layerAlert .layerBg {position:absolute;overflow:hidden;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layer.gif') no-repeat;z-index:1010;}
.layerAlert .layerBg.bgTL {left:0;top:0;height:5px;width:81%;background-color:#FFF;background-position:0 -100px;}
.layerAlert .layerBg.bgTR {right:0;top:0;height:5px;width:51%;background-color:#FFF;background-position:100% -100px;}
.layerAlert .content {margin:0 0 0 2px;padding:25px 10px 12px 8px;background:#FFF url('http://file.bugsm.co.kr/nbugs/common/new/bg_layer.gif') no-repeat 100% 100%;}
.layerAlert p {margin:0 0 7px;line-height:17px;text-align:center;}
.layerAlert .btnArea {margin:15px -9px 0;padding:10px 0 0;text-align:center;border-top:1px solid #ebebeb;}
.layerAlert .btnClose {position:absolute;right:0;top:0;height:32px;width:20%;text-align:right;background:url('http://file.bugsm.co.kr/nbugs/common/new/bg_layer.gif') no-repeat 100% -100px;z-index:1010;}
.layerAlert .btnClose a {display:inline-block;height:17px;width:17px;margin:0;padding:7px 6px 5px;background:url('http://file.bugsm.co.kr/nbugs/common/new/button/bc_close.gif') no-repeat 6px -43px;}
.layerAlert .btnClose a span {display:none;}
*/

/* 단순 메시지
.layerMsg {width:270px;}
.layerMsg .content {padding-top:32px;text-align:center;}
.layerMsg .content p {margin:0;padding:0 0 12px 0;color:#666;line-height:17px;}
.layerMsg .content p em {font-weight:bold;color:#F60;}
.layerMsg .content p.textTy1 {margin:12px 0 12px -11px;}
.layerMsg .content p.textTy2 {margin:12px 0 8px;}
.layerMsg .content p.textTy3 {margin:12px 0;}
.layerMsg .content p.textTy4 {margin:12px 0 0;padding-bottom:0;}
.layerMsg .content p.moreCheck {font-weight:bold;}
.layerMsg .content p a {color:#F60;text-decoration:underline;}
*/