<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mplanweb.music.web.user.dao.UserDAO">
	<cache />

 <select id="duplicateUser" parameterType="String" resultType="int">
    SELECT count(*)
    FROM mplan_member
    WHERE mp_userid=#{userid}
  </select>
  
  <select id="getUserInfo" parameterType="String" resultType="hashmap">
  	SELECT *
  	FROM mplan_member
  	WHERE mp_userid=#{userid}
  </select>

</mapper>