@charset "UTF-8";

/* artistInterview + artistReview content */
.music .viewContent {overflow:hidden;width:794px;margin:0 auto 30px;}
.music .viewContent .info {overflow:hidden;margin:0 0 12px;font-size:11px;color:#999;text-align:right;}
.music .viewContent p * {line-height:18px;}
.music .viewContent .imgLeft {float:left;margin:0 25px 0 0;}
	.msie6 .music .viewContent div.imgLeft {padding:0 25px 0 0;}
.music .viewContent .imgRight {float:right;margin:0 0 0 25px;}
.music .viewContent .imgCenter {margin:0 0 1px;}
.music .viewContent .contentWrap {clear:both;overflow:hidden;width:100%;}
.music .viewContent .contentWrap h3 {margin:0 0 13px;font-size:16px;font-weight:bold;line-height:18px;text-indent:0;background-image:none;}
.music .viewContent .review {width:100%;}
.music .viewContent .review .topImg {margin:0 0 28px;}
.music .viewContent .review .desc {margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.music .viewContent .review a {font-weight:bold;color:#666;}
.music .viewContent .review p {overflow:hidden;margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.music .viewContent .interview {width:100%;}
.music .viewContent .interview h3.hInterview {height:15px;width:100px;margin:0 0 30px;background-position:0 -440px;}
.music .viewContent .interview .topImg {margin:0 0 28px;}
.music .viewContent .interview .desc {margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.music .viewContent .interview a {font-weight:bold;color:#666;}
.music .viewContent .interview dl {overflow:hidden;width:auto;}
.music .viewContent .interview dl span {display:inline-block;width:25px;}
.music .viewContent .interview dt {margin:0 0 10px;padding:0 0 6px 28px;line-height:18px;text-align:justify;text-indent:-25px;background:url('http://file.bugsm.co.kr/nbugs/artist/lhd_interviewQuestion.gif') no-repeat 0 100%;}
.music .viewContent .interview dt span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2418px;}
.music .viewContent .interview dd {padding:0 0 44px 28px;line-height:18px;text-align:justify;text-indent:-25px;}
.music .viewContent .interview dd span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2458px;}
.music .viewContent .interview dd p {color:#666;line-height:18px;}
.music .viewContent .interview dd * {font-weight:normal;}
.music .viewContent .interview dd a {font-weight:bold;}
.music .viewContent .interview dd strong {font-weight:normal;color:#333;}
.music .viewContent .interview dd strong a {font-weight:bold;color:#333;}
.music .viewContent .interview .question,
.music .viewContent .interview .question a {color:#000;}
.music .viewContent .interview .endMsg {clear:both;color:#666;line-height:18px;text-align:justify;}
.music .viewContent .interview .outro {overflow:hidden;color:#333;line-height:18px;text-align:justify;}
.music .viewContent .interview .outro a {color:#333;}
.music .viewContent .interview .outro span,
.music .viewContent .interview .outro span a {color:#666;}

/* artistInterview + artistReview content */
.artist .viewContent {overflow:hidden;width:794px;margin:0 auto 30px;}
.artist .viewContent h4 {padding-bottom:9px;font-size:16px;line-height:18px;}
.artist .viewContent .info {overflow:hidden;margin:0 0 6px;font-size:11px;color:#999;text-align:right;}
.artist .viewContent p * {line-height:18px;}
.artist .viewContent .imgLeft {float:left;margin:0 25px 0 0;}
	.msie6 .artist .viewContent div.imgLeft {padding:0 25px 0 0;}
.artist .viewContent .imgRight {float:right;margin:0 0 0 25px;}
.artist .viewContent .imgCenter {margin:0 0 1px;}
.artist .viewContent .contentWrap {clear:both;overflow:hidden;width:100%;}
.artist .viewContent .contentWrap h3 {margin:0 0 13px;font-size:16px;font-weight:bold;line-height:18px;text-indent:0;background-image:none;}
.artist .viewContent .review {width:100%;}
.artist .viewContent .review .topImg {margin:0 0 28px;}
.artist .viewContent .review .desc {margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.artist .viewContent .review a {font-weight:bold;color:#666;}
.artist .viewContent .review p {overflow:hidden;margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.artist .viewContent .review dl {overflow:hidden;width:auto;}
.artist .viewContent .review dl span {display:inline-block;width:25px;}
.artist .viewContent .review dt {margin:0 0 10px;padding:0 0 6px 28px;line-height:18px;text-align:justify;text-indent:-25px;background:url('http://file.bugsm.co.kr/nbugs/artist/lhd_interviewQuestion.gif') no-repeat 0 100%;}
.artist .viewContent .review dt span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2418px;}
.artist .viewContent .review dd {padding:0 0 44px 28px;line-height:18px;text-align:justify;text-indent:-25px;}
.artist .viewContent .review dd span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2458px;}
.artist .viewContent .review dd p {overflow:visible;margin:0;color:#666;line-height:18px;}
.artist .viewContent .review dd * {font-weight:normal;}
.artist .viewContent .review dd a {font-weight:bold;}
.artist .viewContent .review dd strong {font-weight:normal;color:#333;}
.artist .viewContent .review dd strong a {font-weight:bold;color:#333;}
.artist .viewContent .review .question,
.artist .viewContent .review .question a {color:#000;}
.artist .viewContent .interview {width:100%;}
.artist .viewContent .interview h3.hInterview {height:15px;width:100px;margin:0 0 30px;background-position:0 -440px;}
.artist .viewContent .interview .topImg {margin:0 0 28px;}
.artist .viewContent .interview .desc {margin:0 0 44px;color:#666;line-height:18px;text-align:justify;}
.artist .viewContent .interview a {font-weight:bold;color:#666;}
.artist .viewContent .interview dl {overflow:hidden;width:auto;}
.artist .viewContent .interview dl span {display:inline-block;width:25px;}
.artist .viewContent .interview dt {margin:0 0 10px;padding:0 0 6px 28px;line-height:18px;text-align:justify;text-indent:-25px;background:url('http://file.bugsm.co.kr/nbugs/artist/lhd_interviewQuestion.gif') no-repeat 0 100%;}
.artist .viewContent .interview dt span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2418px;}
.artist .viewContent .interview dd {padding:0 0 44px 28px;line-height:18px;text-align:justify;text-indent:-25px;}
.artist .viewContent .interview dd span {background:url('http://file.bugsm.co.kr/nbugs/common/ic.gif') no-repeat 0 -2458px;}
.artist .viewContent .interview dd p {color:#666;line-height:18px;}
.artist .viewContent .interview dd * {font-weight:normal;}
.artist .viewContent .interview dd a {font-weight:bold;}
.artist .viewContent .interview dd strong {font-weight:normal;color:#333;}
.artist .viewContent .interview dd strong a {font-weight:bold;color:#333;}
.artist .viewContent .interview .question,
.artist .viewContent .interview .question a {color:#000;}
.artist .viewContent .interview .endMsg {clear:both;color:#666;line-height:18px;text-align:justify;}
.artist .viewContent .interview .outro {overflow:hidden;color:#333;line-height:18px;text-align:justify;}
.artist .viewContent .interview .outro a {color:#333;}
.artist .viewContent .interview .outro span,
.artist .viewContent .interview .outro span a {color:#666;}