@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("bootstrap.css");
html {
	color: #000;
	background: #fff;
	font-family: 'Nanum Gothic';
}
body, td, th {
	font-family: 'Nanum Gothic';
	margin: 0;
	padding: 0
}
h2 {
	font-size: 15px;
}
/*푸터*/
#footer {
	font-family: 'Nanum Gothic';
	width: 100%;
	background: #fafafa;
	border-top: thin solid #9E9E9E;
	bottom: 0%;
	left: 0%;
	clear: both;
	position: static;
	border-bottom-width: thin;
	border-right-width: thin;
	border-left-width: thin;
}
#footer .footersize {
	background-image: url(../img/footer_logo.png);
	width: 180px;
	height: 55px;
	display: block;
	position: absolute;
	top: 10px;
	text-indent: -100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-shadow: none;
	color: transparent;
	margin-top: 16px;
}
#footer .footerlist {
	overflow: hidden;
	width: 600px;
	height: 33px;
	position: static;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 180px;
	margin-bottom: 0px;
}
#footercompany li a {
	font-size: 12px;
	color: #333;
}
#footer .footerlist2 {
	overflow: hidden;
	width: 700px;
	height: 70px;
	position: static;
	margin-right: 0px;
	margin-left: 180px;
	margin-bottom: 0px;
}
.footerlist #footercompany li {
	position: relative;
	overflow: hidden;
	list-style-type: none;
	list-style-image: none;
	float: left;
	list-style: none;
	padding-right: 10px;
	margin-top: 10px;
	text-shadow: 0px 0px;
}
.footerlist2 #footercompany li {
	position: relative;
	overflow: hidden;
	list-style-type: none;
	list-style-image: none;
	list-style: none;
	padding-right: 10px;
	text-shadow: 0px 0px;
	font-size: 12px;
	float: left;
	margin-top: 5px;
	margin-bottom: 0px;
}
#footer .footerwarp {
	width: 980px;
	margin: auto;
	position: relative;
}
#center .centerwrap {
	margin: auto;
	width: 980px;
	top: 0px;
	position: relative;
}
#center .centerwrap .centertab {
	padding-top: 103px;
}
#header {
	font-family: 'Nanum Gothic';
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 102px;
	background-color: #fafafa;
}
#header #headerwrap {
	margin-top: 60px;
	width: 100%;
	height: 43px;
	position: absolute;
	background-image: url(../img/header.png);
}
#header .top {
	width: 980px;
	position: static;
	background: none;
	z-index: 100;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
.top #logo .logoimg {
	display: block;
	width: 255px;
	height: 40px;
	z-index: 100;
	background-image: url(../img/main.png);
	white-space: nowrap;
	overflow: hidden;
	margin-top: 10px;
	font-size: 0;
	line-height: 0;
	text-shadow: none;
	color: transparent;
}
#header .top .search {
	position: relative;
	width: 400px;
	margin-left: 270px;
	margin-top: -37px;
}
#header .top .btjoin {
	position: relative;
	width: 80px;
	margin-top: -34px;
	margin-left: 690px;
}
#header .top .btlogin {
	position: relative;
	width: 80px;
	top: 15px;
	margin-left: 779px;
	margin-top: -49px;
}
#header .nav {
	position: relative;
	top: -2px;
	left: -34px;
}
#header .nav ul li {
	overflow: hidden;
	width: 70px;
	display: block;
	float: left;
	white-space: nowrap;
}
#header .nav li a {
	display: block;
	height: 38px;
	overflow: hidden;
	margin: auto;
	text-indent: -999px;
 width: 73px width: 96px;
	background-image: url(../img/mainlogo.png);
}
#header .nav li.nav_0 a {
	background-position: 0 0px
}
#header .nav li.nav_1 a {
	background-position: -100px 0px
}
#header .nav li.nav_2 a {
	background-position: -200px 0px
}
#header .nav li.nav_3 a {
	background-position: -299px 0px
}
#header .nav li.nav_4 a {
	background-position: -400px 0px
}
#header .nav li.nav_5 a {
	background-position: -500px 0px
}
#header .nav li.nav_6 a {
	background-position: -1860px 0px
}
#header .nav li.nav_7 a {
	background-position: -1960px 0px
}
#header .nav li.nav_8 a {
	background-position: -2060px 0px
}
#header .nav li.nav_0 a:hover {
	background-position: 0px -50px;
}
#header .nav li.nav_1 a:hover {
	background-position: -100px -50px
}
#header .nav li.nav_2 a:hover {
	background-position: -200px -50px
}
#header .nav li.nav_3 a:hover {
	background-position: -299px -51px
}
#header .nav li.nav_4 a:hover {
	background-position: -400px -50px
}
#header .nav li.nav_5 a:hover {
	background-position: -500px -50px
}
#header .nav li.nav_6 a:hover {
	background-position: -1861px -50px
}
#header .nav li.nav_7 a:hover {
	background-position: -1961px -50px
}
#header .nav li.nav_8 a:hover {
	background-position: -2061px -50px
}
.icheckbox_square-blue, .iradio_square-blue {
	display: inline-block;
 *display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background: url(blue.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_square-blue {
	background-position: 0 0;
}
.icheckbox_square-blue.hover {
	background-position: -24px 0;
}
.icheckbox_square-blue.checked {
	background-position: -48px 0;
}
.icheckbox_square-blue.disabled {
	background-position: -72px 0;
	cursor: default;
}
.icheckbox_square-blue.checked.disabled {
	background-position: -96px 0;
}
.iradio_square-blue {
	background-position: -120px 0;
}
.iradio_square-blue.hover {
	background-position: -144px 0;
}
.iradio_square-blue.checked {
	background-position: -168px 0;
}
.iradio_square-blue.disabled {
	background-position: -192px 0;
	cursor: default;
}
.iradio_square-blue.checked.disabled {
	background-position: -216px 0;
}
.album .musicList.albumList .thumbs {
	padding: 0;
	overflow: hidden;
}
.musicList.albumList .thumbs li {
	display: inline-block;
	height: 165px;
	overflow: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	float: left;
	position: relative;
	width: 165px;
}
.thumbs li .thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cecece;
	background-position-x: 50%;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	z-index: 9;
	width: 100%;
	height: 100%;
}
li .thumbnail h4 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 7px 10px;
	text-transform: uppercase;
	background-color: #efefef;
	color: #6b6b6b;
	font-size: 14px;
	margin: 0;
	border-bottom-right-radius: 12px;
}
li .thumbnail .description {
	padding: 0;
	position: absolute;
	bottom: 0;
	height: 65px;
	width: 100%;
	box-sizing: inherit;
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	color: #FFFFFF;
	background-color: rgba(83,83,83,0.70);
	font-size: 18px;
	padding-top: 55px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 18px;
	line-height: 18px;
	box-sizing: inherit;
	text-align: center;
	margin-left: -5px;
	height: 150px;
	-moz-box-sizing: inherit;
}
li .thumbnail:hover .description {
	opacity: 1;
	height: 180px;
}
li .thumbnail .active-arrow {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #fff;
	bottom: -2px;
	z-index: 99;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#center .centerwrap .album {
	width: 660px;
}
.album .musicList.albumList .on {
	font-size: 13px;
	position: relative;
	margin-top: -25px;
	font-family: inherit;
	font-weight: bold;
	color: #000000;
	float: right;
}
#center .centerwrap .subcenter {
	width: 290px;
	position: relative;
	float: right;
	margin-top: -1140px;
}
.icheckbox_square-blue, .iradio_square-blue {
	background-image: url(blue@2x.png);
	-webkit-background-size: 240px 24px;
	background-size: 240px 24px;
}
form .row .userinfo {
	float: left;
	position: relative;
	width: 100%;
	margin-top: 7px;
	right: 17px;
	margin-bottom: 28px;
}
.row .userinfo .joinuser {
	position: relative
}
.userinfo .joinuser .userlink {
	position: relative;
	overflow: hidden;
	margin-left: 14px;
}
.row .userinfo .infolist {
	position: absolute;
	top: 0;
	right: 0;
	margin: auto;
}
.userinfo .infolist li {
	float: left;
	overflow: hidden;
}
.infolist li .textbar {
	display: inline-block;
	width: 1px;
	height: 9px;
	margin-top: 7px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 0;
	background-color: #191919;
	opacity: .6;
	filter: alpha(opacity=60);
	vertical-align: top
}
.textbar {
	display: inline-block;
	width: 1px;
	height: 9px;
	margin: 3px 9px 0;
	background-color: #191919;
	opacity: .6;
	filter: alpha(opacity=60);
	vertical-align: top
}
.infolist li .userlink {
	font-size: 14px;
	color: #191919;
	font-weight: 700;
}
.row .col-xs-4 .btn.btn-primary.btn-block.btn-flat {
	width: 290px;
}
form .row .col-xs-4 {
	margin: auto;
	width: 320px;
	position: relative;
}
#center {
	height: 100%;
}
.musicList.albumList .on .musicgroup {
	color: #ff3d33;
}
.info-box {
	display: block;
	min-height: 90px;
	background-color: #00c0ef;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}
.info-box small {
	font-size: 14px
}
.info-box .progress {
	background: rgba(0,0,0,0.2);
	margin: 5px -10px 5px -10px;
	height: 2px
}
.info-box .progress, .info-box .progress .progress-bar {
	border-radius: 0
}
.info-box .progress .progress-bar {
	background: #fff
}
.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 90px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background-color: #0099be;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
.info-box-content {
	padding: 5px 10px;
	margin-left: 90px
}
.info-box-number {
	display: block;
	font-weight: bolder;
	font-size: 23px;
	color: #FFFFFF;
}
.info-box-text {
	display: block;
	font-weight: bolder;
	color: #FFFFFF;
}
.fa.fa-music {
	color: #FFFFFF;
}
.fa.fa-play-circle {
	color: #FFFFFF;
}
.fa.fa-cloud-upload {
	color: #FFFFFF;
}
.fa.fa-users {
	color: #FFFFFF;
}
.subcenter .noticelist #notice {
	position: relative;
	list-style-type: none;
	list-style-image: none;
	float: left;
	list-style: none;
	text-shadow: 0px 0px;
	margin-left: -30px;
}
.centerwrap .subcenter .login {
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
}
