<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Member -->
<mapper namespace="mplanweb.music.web.member.UserMapper">


	<select id="login" resultType="User">
		SELECT mp_id, mp_nickname, mp_name
		FROM mplan_member WHERE mp_id = #{userid} AND mp_pwd = #{passwd}
	</select>

</mapper>